{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&amp;subset=latin,cyrillic"
        rel="stylesheet" />
    <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link type="text/css" href="{% static 'bootstrap/css/main.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'bootstrap/img/hgpu-yellow.webp' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <title>Название образовательной программы</title>
</head>

<body>
    <div style="
        /* background-image: url('{% static 'bootstrap/img/edu-programs/edu-program-banner.jpg' %}'); */
        background-image: url('{{program.edu_prog_banner_img.url}}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 68.841% 100%;
      " class="py-3 py-xl-5 position-relative">
        <div class="media-banner-overlay"></div>
        <div class="container position-relative z-2">
            <div class="py-2 row">
                <div class="col-xl-8 col-lg-7 col-md-6">
                    <div>
                        <a href=""
                            class="d-inline-block mb-2 mb-lg-4 mb-sm-1 py-1 px-3 py-lg-3 px-lg-5 bg-ylw rounded-4 text-decoration-none text-black">
                            #{{program.level}}
                        </a>
                        <div class="mb-xl-3 mb-md-1 fs-1 fw-bold text-white edu-text title">{{program.name}}</div>
                        <div class="mb-xl-4 mb-md-1 fs-5 fw-semibold text-white edu-text">{{program.edu_number}}"</div>
                        <div class="mb-xl-3 mb-md-1 fs-5 fw-bold text-white">Задать вопрос о программе:</div>
                        <div class="mb-xl-4 mb-md-1 mb-2 d-flex align-items-center gap-2 flex-wrap flex-xl-nowrap">
                            <a href=""
                                class="d-inline-flex align-items-center gap-2 py-2 px-3 bg-transparrent border border-warning rounded-4 text-decoration-none text-white edu-program-contact-link">
                                <div class="edu-program-contact-link-icon">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/phone-icon.svg' %}" alt="">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/phone-icon-hover.svg' %}" alt="">
                                </div>
                                <span>{{program.kafedra_name.phone}}</span>
                            </a>
                            <a href="{{program.kafedra_name.kafedra_url_max}}" target="_blank"
                                class="d-inline-flex align-items-center gap-2 py-2 px-3 bg-transparrent border border-warning rounded-4 text-decoration-none text-white edu-program-contact-link">
                                <div class="edu-program-contact-link-icon">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/max-icon.svg' %}" alt="">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/max-icon-hover.png' %}" alt="">
                                </div>
                                <span>Чат абитуриентов института</span>
                            </a>
                            <a href="{{program.kafedra_name.kafedra_url_tg}}" target="_blank"
                                class="d-inline-flex align-items-center gap-2 py-2 px-3 bg-transparrent border border-warning rounded-4 text-decoration-none text-white edu-program-contact-link">
                                <div class="edu-program-contact-link-icon">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/tg-icon.svg' %}" alt="">
                                    <img class="d-block w-100"
                                        src="{% static 'bootstrap/img/edu-programs/tg-icon-hover.svg' %}" alt="">
                                </div>
                                <span>Чат абитуриентов института</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center gap-2 edu-prog-insitut">
                            <img src="{{program.kafedra_name.institut.institut_logo.url}}" class="edu-prog-insitut-logo"
                                alt="" />
                            <div class="edu-banner-kaf-ins">
                                <a href="{{ program.kafedra_name.kafedra_url }}"
                                    class="d-block text-decoration-none text-white fs-5 edu-text">{{program.kafedra_name.name}}</a>
                                <a href="{{program.kafedra_name.institut.institut_url}}"
                                    class="d-block text-decoration-none text-white fs-5 fw-bold edu-text">{{program.kafedra_name.institut.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-md-6">
                    <div class="bg-ylw px-xl-5 px-md-3 py-3 rounded-4 edu-prog-banner-card">
                        <div class="text-uppercase fs-3 fw-medium text-black title">Поступление 2026</div>
                        <div class="contact-gray-back mb-4 px-4 py-4 rounded-4 fs-7 text-white">
                            <div class="mb-3 d-flex">
                                <div class="d-flex flex-column w-50">
                                    <img src="{% static 'bootstrap/img/edu-programs/book-icon.svg' %}" alt=""
                                        class="w-25">
                                    <div class="fw-bold">Форма и период обучения</div>
                                </div>
                                <div class="d-flex flex-column w-50">
                                    <img src="{% static 'bootstrap/img/edu-programs/places-icon.svg' %}" alt=""
                                        class="w-25">
                                    <div class="d-flex flex-column fw-bold">
                                        <div>Количество мест</div>
                                        <div><span class="fw-medium opacity-75">Бюджет
                                                Коммерция</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 border-top border-white opacity-75"></div>
                            {% for form in epef %}
                            <div>
                                <div class="fw-bold text-uppercase fs-6">{{form.edu_form}}:</div>
                                <div class="d-flex fs-6">
                                    <div class="w-50">{{form.lerning_time}}</div>
                                    <div class="w-25 text-center">{{form.budget_places}}</div>
                                    <div class="w-25 text-center">{{form.contract_places}}</div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <a href="https://pk.hgpurf.ru/" target="_blank"
                            class="mb-3 bg-red py-2 glare-link black-bg-hov d-block text-center rounded-3 fs-6 text-white">Как
                            поступить</a>
                    </div>
                    <div class="d-flex align-items-center gap-2 d-sm-none">
                        <img src="{{program.kafedra_name.institut.institut_logo.url}}" class="edu-prog-insitut-logo"
                            alt="" />
                        <div class="edu-banner-kaf-ins">
                            <a href="{{ program.kafedra_name.kafedra_url }}"
                                class="d-block text-decoration-none text-white fs-5 edu-text">{{program.kafedra_name.name}}</a>
                            <a href="{{program.kafedra_name.institut.institut_url}}"
                                class="d-block text-decoration-none text-white fs-5 fw-bold edu-text">{{program.kafedra_name.institut.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 py-3 bg-ylw overflow-hidden fs-5 fw-medium">
        <ul class="running-line">
            <li class="pe-2">Диплом государственного образца</li>
            <li class="pe-2">Более 1 500 бюджетных мест</li>
            <li class="pe-2">Гибкий формат обучения</li>
            <li class="pe-2">Возможность совмещать учебу и работу</li>
            <li class="pe-2">Практикоориентированность обучения</li>
            <li class="pe-2">Помощь в трудоустройстве</li>
            <li class="pe-2">Диплом государственного образца</li>
            <li class="pe-2">Более 1 500 бюджетных мест</li>
            <li class="pe-2">Гибкий формат обучения</li>
            <li class="pe-2">Возможность совмещать учебу и работу</li>
            <li class="pe-2">Практикоориентированность обучения</li>
            <li class="pe-2">Помощь в трудоустройстве</li>
        </ul>
    </div>
    <div class="container mb-5 py-5">
        <div class="mb-5">
            <h1 class="fw-bold">Описание<br>образовательной программы</h1>
            <div class="edu-prog-desc fs-5">
                {{program.about_program|safe}}
            </div>
            <!-- <div class="row align-items-end">
                <div class="col">
                    <h1 class="fw-bold">Описание<br>образовательной программы</h1>
                    <p class="fs-5">Программа направлена на подготовку компетентных педагогов, специализирующихся
                        одновременно в двух
                        областях знаний – <span class="fw-bold">математике и экономике.</span></p>
                    <p class="mb-0 fs-5">Современное образование требует педагогов нового формата – тех, кто не просто
                        владеет предметными
                        знаниями, а умеет показать их связь с реальной жизнью, объяснить, как математические законы
                        управляют экономическими процессами, а экономические решения опираются на строгий расчет.</p>
                    <p class="mb-0 fs-5">Образовательная программа создана, чтобы подготовить именно таких специалистов.
                    </p>
                </div>
                <div class="col">
                    <p class="mb-0 fs-5">
                        <span class="fw-bold">"Математика и экономика"</span> – междисциплинарная программа
                        педагогического
                        направления для тех, кто
                        хочет профессионально <span class="fw-bold">преподавать сразу два востребованных школьных
                            предмета</span>, развивать у учеников
                        математическое и экономическое мышление и уверенно работать с цифровыми образовательными
                        технологиями.
                    </p>
                    <p class="fs-5">Учебный план построен в соответствии с ФГОС ВО по направлению "Педагогическое
                        образование (с двумя
                        профилями подготовки)" и сочетает фундаментальную математическую подготовку, основы экономики и
                        методики преподавания обоих предметов.</p>
                    <p class="mb-0 fs-5 fw-bold">
                        Выпускники программы становятся педагогами, способными вдохновлять учеников на изучение точных
                        наук
                        через призму актуальных экономических задач.
                    </p>
                </div>
            </div> -->
        </div>
        <div class="bg-ylw rounded-4">
            <div class="px-2 px-sm-5 py-3 d-flex-column d-sm-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-2">
                    <img style="width: 60px" src="{% static 'bootstrap/img/edu-programs/edu-prog-info-icon.svg' %}"
                        alt="">
                    <div>
                        <div class="fw-bold fs-5 edu-text">{{program.name}} | {{program.level}}</div>
                        <div>{{program.edu_number}}</div>
                    </div>
                </div>
                <div class="px-5 py-2 bg-white fw-bold rounded-3 d-none d-sm-block">
                    2026
                </div>
            </div>
            <div class="px-4 py-3 px-sm-5 py-sm-5 rounded-4 management-gray-back">
                <div class="row exam-card">
                    <div class="{% if program.level == 'Магистратура' %}col col-sm-6{% else %}col col-md-4{% endif %} h-100">
                        <div class="mb-2 mb-sm-0 py-2 px-2 py-sm-3 py-md-4-3 px-sm-5 bg-ylw rounded-4 fw-bold fs-5 text-center text-sm-start edu-text">
                            Минимальное количество баллов для участия в конкурсе
                        </div>
                    </div>
                    {% if program.level == 'Бакалавриат' %}
                    <div class="col col-sm-4 h-100">
                        <div class="mb-2 fs-5 fw-bold lh-sm edu-text text-center text-sm-start">
                            Общеобразовательные вступительные испытания / результаты ЕГЭ
                        </div>
                        <ol class="mb-0 ps-0 exam-list">
                            {{ program.exam_ege|safe }}
                            <!-- <li>Обществознание (42)</li>
                            <li>Математика (40) / Информатика (45)</li>
                            <li>Русский язык (42)</li> -->
                        </ol>
                    </div>
                    <div class="col h-100">
                        <div class="mb-2 fs-5 fw-bold lh-sm edu-text text-center text-sm-start">
                            Вступительные испытания на базе профессионального образования
                        </div>
                        <ol class="mb-0 ps-0 exam-list">
                            {{program.exam_spo|safe}}
                            <!-- <li>Основы математики (35)</li>
                            <li>Информатика и информационно-коммуникационные технологии (35)</li>
                            <li>Русский язык (42)</li> -->
                        </ol>
                    </div>
                    {% endif %}
                    {% if program.level == 'Магистратура'%}
                    <div class="col col-sm-6 h-100">
                        <div class="mb-2 fs-5 fw-bold lh-sm edu-text text-center text-sm-start">
                            Вступительные испытания
                        </div>
                        <ol class="mb-0 ps-0 exam-list edu-text">
                            {{ program.exam_ege|safe }}
                            <!-- <li>Обществознание (42)</li>
                            <li>Математика (40) / Информатика (45)</li>
                            <li>Русский язык (42)</li> -->
                        </ol>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-gray position-relative">
        <div class="container">
            <div class="mb-5 w-75 fs-1 fw-bold">Преимущества образовательной программы</div>
            <div class="row row-cols-sm-2 w-75 g-5 advantage-block">
                {% for a in advantage %}
                <div class="col mt-3">
                    <div class="d-flex flex-column gap-3">
                        <img style="width: 60px;"
                            src="{% static 'bootstrap/img/edu-programs/advantage-mark-icon.svg' %}" alt="">
                        <div class="fw-bold fs-5">{{a.name|safe}}</div>
                        <div class="fs-5">{{a.text|safe}}</div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col mt-3">
                    <div class="d-flex flex-column gap-3">
                        <img style="width: 60px;"
                            src="{% static 'bootstrap/img/edu-programs/advantage-mark-icon.svg' %}" alt="">
                        <div class="fw-bold fs-5">Преподаватели</div>
                        <div class="fs-5">Кандидаты и доктора наук, практикующие педагоги-математики и экономисты</div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="d-flex flex-column gap-3">
                        <img style="width: 60px;"
                            src="{% static 'bootstrap/img/edu-programs/advantage-mark-icon.svg' %}" alt="">
                        <div class="fw-bold fs-5">Доступ к электронным образовательным ресурсам университета</div>
                        <div class="fs-5">Обучение ведется на базе электронной образовательной платформы ХГПУ</div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="d-flex flex-column gap-3">
                        <img style="width: 60px;"
                            src="{% static 'bootstrap/img/edu-programs/advantage-mark-icon.svg' %}" alt="">
                        <div class="fw-bold fs-5">Реальная практическая
                            подготовка</div>
                        <div class="fs-5">Сотрудничество с образовательными организациями и платформами для прохождения
                            практик и стажировок</div>
                    </div>
                </div> -->
            </div>
        </div>
        <img class="edu-program-advantage-img" src="{{program.edu_prog_advantage_img.url}}" alt="">
        <!-- <img class="edu-program-advantage-img"
            src="{% static 'bootstrap/img/edu-programs/edu-program-advantage-img.jpg' %}" alt=""> -->
    </div>
    <div style="background-color: rgb(249, 249, 249);" class="mb-5 pt-5">
        <div class="container">
            <div class="mb-5 fs-1 fw-bold text-center">Кому подходит программа</div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
                <div class="col text-center border-0 border-sm-end border-dark">
                    <img style="margin-bottom: 30px; width: 100px;"
                        src="{% static 'bootstrap/img/edu-programs/suitable-icon1.svg' %}" alt="">
                    <div class="fs-5">{{ suitable.0.text|safe }}</div>
                </div>
                <div class="col text-center border-0 border-sm-end border-dark">
                    <img style="margin-bottom: 30px; width: 100px;"
                        src="{% static 'bootstrap/img/edu-programs/suitable-icon2.svg' %}" alt="">
                    <div class="fs-5">{{ suitable.1.text|safe }}</div>
                </div>
                <div class="col text-center">
                    <img style="margin-bottom: 30px; width: 100px;"
                        src="{% static 'bootstrap/img/edu-programs/suitable-icon3.svg' %}" alt="">
                    <div class="fs-5">{{ suitable.2.text|safe }}</div>
                </div>
            </div>
        </div>
        <svg role="presentation" class="t796__svg" style="height:8vw; width: 100%; fill: #fff;"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 200" preserveAspectRatio="none">
            <path d="M640 195.5L0 0v200h1280V0"></path>
        </svg>
    </div>
    <div class="container">
        <div class="py-5">
            <div class="mb-4 fs-1 fw-bold">Чему вы научитесь</div>
            <div class="mb-3 fs-5">Ключевые навыки после обучения</div>
            <div class="ps-0 ps-sm-5">
                {% for skill in key_skills %}
                <div class="mb-3 d-flex align-items-start align-items-sm-center gap-2 gap-sm-5">
                    <div class="num-circle bg-ylw fs-5 fw-bold">{{forloop.counter}}</div>
                    <div class="fs-5 fw-medium">{{skill.text|safe}}</div>
                </div>
                {% endfor %}
                <!-- <div class="mb-3 d-flex align-items-center gap-5">
                    <div class="num-circle bg-ylw fs-5 fw-bold">2</div>
                    <div class="fs-5 fw-medium">Глубоко понимать школьный курс математики, ориентироваться в экономике,
                        применять современные методики в педагогической деятельности</div>
                </div>
                <div class="mb-3 d-flex align-items-center gap-5">
                    <div class="num-circle bg-ylw fs-5 fw-bold">3</div>
                    <div class="fs-5 fw-medium">Глубоко понимать школьный курс математики, ориентироваться в экономике,
                        применять современные методики в педагогической деятельности</div>
                </div>
                <div class="mb-3 d-flex align-items-center gap-5">
                    <div class="num-circle bg-ylw fs-5 fw-bold">4</div>
                    <div class="fs-5 fw-medium">Глубоко понимать школьный курс математики, ориентироваться в экономике,
                        применять современные методики в педагогической деятельности</div>
                </div> -->
            </div>
        </div>
        <div class="py-5">
            <div class="row align-items-center">
                <div class="col">
                    <div class="w-75 structure-img">
                        <div class="mb-2 fs-1 fw-bold">Что будете изучать</div>
                        <div class="mb-2 fs-6 opacity-75">Структура программы<br>
                            (содержательные блоки/модули, дисциплины)</div>
                        <img class="w-100 rounded-4" src="{{program.edu_prog_structure_img.url}}" alt="">
                    </div>
                </div>
                <div class="col">
                    {% for s in structure %}
                    <details class="details border-top-secondary" name="basic-info-accordion">
                        <summary class="details-title">
                            <p class="fw-bold fs-4">{{s.name|safe}}</p>
                            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
                        </summary>
                        <div class="details-content">
                            {{s.text|safe}}
                            <!-- <ul class="fs-5">
                                <li>Математический анализ</li>
                                <li>Линейная алгебра</li>
                                <li>Геометрия</li>
                                <li>Теория вероятностей и математическая статистика</li>
                                <li>Комбинаторика и графы</li>
                                <li>Методы решения задач</li>
                                <li>Дискретная математика</li>
                                <li>Методы оптимизации</li>
                            </ul> -->
                        </div>
                    </details>
                    {% endfor %}
                    <!-- <details class="details border-top-secondary" name="basic-info-accordion">
                        <summary class="details-title">
                            <p class="fw-bold fs-4">Экономический профиль</p>
                            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
                        </summary>
                        <div class="details-content">
                            <ul class="fs-5">
                                <li>Микроэкономика</li>
                                <li>Макроэкономика</li>
                                <li>Финансы и кредит</li>
                                <li>Основы бухгалтерского учёта</li>
                                <li>Эконометрика</li>
                                <li>Предпринимательство и проектирование бизнес-моделей</li>
                                <li>Исновы финансового анализа</li>
                                <li>Экономика предприятия</li>
                            </ul>
                        </div>
                    </details>
                    <details class="details border-top-secondary" name="basic-info-accordion">
                        <summary class="details-title">
                            <p class="fw-bold fs-4">Педагогический блок</p>
                            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
                        </summary>
                        <div class="details-content">
                            <ul class="fs-5">
                                <li>Общая и возрастная психология</li>
                                <li>Педагогика</li>
                                <li>Методика преподавания математики</li>
                                <li>Методика преподавания экономики</li>
                                <li>Инклюзивное образование</li>
                                <li>Современные образовательные технологии (EdTech-инструменты учителя, LMS и
                                    онлайн-курсы, визуализация данных, учебные симуляторы)</li>
                                <li>Конструирование учебных курсов и оценочных средств, подготовка к ОГЭ/ЕГЭ</li>
                            </ul>
                        </div>
                    </details>
                    <details class="details border-top-secondary mb-0" name="basic-info-accordion">
                        <summary class="details-title">
                            <p class="fw-bold fs-4">Практический блок</p>
                            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
                        </summary>
                        <div class="details-content">
                            <ul class="fs-5">
                                <li>Учебные практики по математике и экономике на младших курсах</li>
                                <li>Педагогическая практика в школах под руководством опытных наставников</li>
                                <li>Научно‑исследовательская работа</li>
                                <li>Подготовка и защита выпускной квалификационной работы</li>
                            </ul>
                        </div>
                    </details> -->
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 cafedra-yellow-back">
        <div class="container">
            <div class="mb-3 fs-1 fw-bold">Кем вы сможете работать</div>
            <div class="mb-3 mb-sm-5 fs-5">Выпускники образовательной программы успешно занимают должности</div>
            <div class="fs-5">
                {% for p in position %}
                <span class="mb-3 me-3 py-3 px-4 px-sm-5 d-inline-block bg-white rounded-5 position-tag">{{p.text|safe}}</span>
                {% endfor %}
                <!-- <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Учитель математики</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Экономист</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Учитель экономических
                    дисциплин</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Руководитель математических кружков
                    и секций</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Тьютор</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Репетитор</span>
                <span class="mb-3 me-3 py-3 px-5 d-inline-block bg-white rounded-5">Педагог-организатор в школе</span> -->
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row py-5">
                <div class="col h-100 d-none d-sm-block">
                    <div class="position-relative h-100">
                        <img style="width: 380px; height: 450px; border-radius: 15px; position: absolute; top: 0; left: 0; object-fit: cover;"
                            src="{{program.edu_prog_perspective_img1.url}}" alt="">
                        <img style="width: 220px; height: 260px; border-radius: 15px; position: absolute; top: 70px; left: 54%; object-fit: cover;"
                            src="{{program.edu_prog_perspective_img2.url}}" alt="">
                        <img style="width: 350px; height: 220px; border-radius: 15px; position: absolute; top: 350px; left: 20%; object-fit: cover;"
                            src="{{program.edu_prog_perspective_img3.url}}" alt="">
                    </div>
                </div>
                <div class="col col-sm-5 h-100">
                    <div class="mb-4 fw-bold fs-1 lh-sm">Перспективы трудоустройства</div>
                    <div class="mb-3 fw-bold fs-5">Выпускники программы готовы к профессиональной деятельности в:</div>
                    <div>
                        <ul class="fs-5">
                            {% for p in perspective %}
                            <li class="perspective-item">{{p.text|safe}}</li>
                            {% endfor %}
                            <!-- <li>Общеобразовательных школах, лицеях и гимназиях</li>
                            <li>Учреждениях среднего специального образования</li>
                            <li>Центрах дополнительного образования и олимпиадной подготовки</li>
                            <li>Онлайн-школах и образовательных платформах</li>
                            <li>Органах управления образованием</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5 d-none">
        <div class="container">
            <div class="py-5 px-5 rounded-4 contact-gray-back">
                <div class="row px-4 align-items-center">
                    <div class="col">
                        <div class="mb-3 fw-bold fs-4 text-ylw">Выпускающая кафедра</div>
                        <div class="mb-4 d-flex align-items-center gap-2">
                            <img src="{{program.kafedra_name.institut.institut_logo.url}}"
                                style="height: 80px; object-fit: cover; filter: grayscale(100%);" alt="" />
                            <div>
                                <a href="{{program.kafedra_name.kafedra_url}}"
                                    class="d-block text-decoration-none text-white fw-bold fs-2 lh-sm">{{program.kafedra_name}}</a>
                            </div>
                        </div>
                        <div class="fw-medium fs-6">
                            <span class="mb-3 me-3 py-2 px-3 d-inline-block bg-white rounded-5">#Базы_практики</span>
                            <span class="mb-3 me-3 py-2 px-3 d-inline-block bg-white rounded-5">#Преподаватели</span>
                            <span class="mb-3 me-3 py-2 px-3 d-inline-block bg-white rounded-5">#Наука</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <img style="width: 100%; height: 90%; border-radius: 15px;"
                            src="{{program.kafedra_name.kafedra_card_img.url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <svg role="presentation" class="t796__svg" style="height:8vw; width: 100%; fill: #efefef;"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 200" preserveAspectRatio="none">
            <path d="M640 195.5L0 0v200h1280V0"></path>
        </svg>
    </div>
    <div style="background-color: #efefef;" class="py-5">
        <div class="container">
            <div class="mb-5 fw-bold fs-1 text-center">
                Стань студентом Херсонского государственного педагогического университета
            </div>
            <div class="row align-items-center abit-block">
                <div class="col">
                    <a href="https://pk.hgpurf.ru/" target="_blank" class="mb-2 glare-link bg-dark text-white rounded-4 pinky-link">
                        <img style="width: 30px;" class="me-2"
                            src="{% static 'bootstrap/img/edu-programs/hgpu-icon.png' %}" alt="">
                        Перейти на сайт приемной комиссии
                    </a>
                    <a href="https://www.gosuslugi.ru/vuzonline" target="_blank" class="mb-3 glare-link ylw-bg text-black rounded-4 pinky-link">
                        <img style="width: 30px;" class="me-2"
                            src="{% static 'bootstrap/img/edu-programs/epgu-icon.png' %}" alt="">
                        Подать документы
                    </a>
                    <div class="fw-bold fs-6">
                        Узнай все о поступлении в ХГПУ
                    </div>
                    <ul class="fs-6">
                        <li>правила приема и направления подготовки</li>
                        <li>ключевые даты и этапы зачисления</li>
                        <li>перечень документов</li>
                        <li>предоставление особых прав и преимуществ, учет индивидуальных достижений</li>
                        <li>программы вступительных испытаний</li>
                        <li>стоимость обучения</li>
                        <li>конкурсные списки и результаты поступления</li>
                    </ul>
                </div>
                <div class="col">
                    <img class="w-100" src="{% static 'bootstrap/img/edu-programs/priemka.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="{% static 'bootstrap/js/main.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</html>