{% extends 'base.html' %}
{% load static %}
{% block title %}Гранты и конкурсы{% endblock %}
{% block content %}
<div class="container">
    <div class="py-4">
        <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
            <ol class="breadcrumb fw-medium">
            <li class="breadcrumb-item">
                <a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'main' %}">Наука</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'partners' %}">Гранты и конкурсы</a>
            </li>
            </ol>
        </nav>
    </div>
    <div class="container mb-5">
        <div class="py-5 text-black">
        <h1 class="mb-4 fw-bold fs-1">Гранты и конкурсы</h1>
        <p class="mb-1 fs-5">
            На странице мы собрали для вас актуальную информацию о возможностях для реализации научных, 
            творческих и профессиональных идей - от студенческих проектов до масштабных исследований с 
            серьёзным финансированием. <br> Здесь вы найдёте грантовые программы ведущих фондов 
            (РНФ, Фонд президентских грантов и др.), а также конкурсы для молодых учёных, педагогов, 
            управленцев и креативных команд. Участие в этих конкурсах - это не только шанс получить 
            финансирование и экспертную поддержку, но и возможность заявить о себе в профессиональном 
            сообществе, найти партнёров и масштабировать свой проект. <br>
            Регулярно обновляем список: следите за сроками подачи заявок и не упускайте свои возможности.
        </p>
        </div>
        <div class="container py-5 px-5 mb-5 rounded-3 light-yellow-bg border border-2 border-warning">
            <h2 class="fw-bold">Гранты</h2>
            <p class="fs-5 fw-medium">
                Гранты - это системная поддержка ваших долгосрочных проектов: исследований, образовательных программ, 
                социальных инициатив и культурных событий. В этом разделе - программы крупнейших фондов, предлагающих 
                финансирование на реализацию значимых идей. Здесь вы найдёте гранты на фундаментальные и прикладные 
                исследования, проекты в сфере культуры и просвещения, а также поддержку молодёжных и междисциплинарных 
                команд. <br> Изучите условия участия, требования к отчётности и сроки подачи заявок - грантовая поддержка 
                открывает возможности для серьёзного масштабирования ваших проектов.
            </p>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/rnf.png' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 d-flex-column gap-5">
                <h4 class="d-flex fw-semibold">1. Российский научный фонд</h4>
                <p class="d-flex fs-5">
                    Российский научный фонд (РНФ) - российская некоммерческая организация, 
                    созданная в целях финансовой и организационной поддержки фундаментальных и 
                    поисковых научных исследований, подготовки научных кадров, развития научных 
                    коллективов, занимающих лидирующие позиции в определённой области науки.
                    Целью деятельности РНФ является финансовая и организационная поддержка фундаментальных научных 
                    исследований и поисковых научных исследований, подготовки научных кадров, развития научных 
                    коллективов, занимающих лидирующие позиции в определенной области науки.
                </p>
                <a href="https://rscf.ru/contests/" class="d-flex text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/rosmol.jpeg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">2. Росмолодёжь.Гранты</h4>
                <p class="fs-5">Росмолодёжь.Гранты - это федеральная грантовая программа, которую организует 
                Федеральное агентство по делам молодёжи (ФАДМ). Заявки принимаются в системе "Молодёжь России" на 
                официальном сайте агентства.
                </p>
                <a href="https://fadm.gov.ru/directions/grant/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/mycountry.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">3. Моя страна – моя Россия</h4>
                <p class="fs-5">"Моя страна – моя Россия" - это всероссийский просветительский проект в 
                    формате конкурса молодёжных авторских проектов и проектов в сфере образования, 
                    направленных на социально-экономическое развитие российских территорий 
                    (регионов, городов, сёл).
                    С 2019 года конкурс входит в линейку президентской платформы "Россия – страна возможностей".
                </p>
                <a href="https://moyastrana.ru/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/timchenko.png' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">4. Фонд Тимченко</h4>
                <p class="fs-5">"Добрый спорт" - открытый конкурс для организаций, реализующих проекты по развитию 
                    детского любительского массового спорта.
                    Цель конкурса – раскрытие потенциала детей, живущих на малых территориях, 
                    для их социализации и расширения возможностей через поддержку проектов любительского массового спорта.
                </p>
                <a href="https://fondtimchenko.ru/contests/programs/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/president.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">5. Фонд президентских грантов</h4>
                <p class="fs-5">Фонд президентских грантов проводит конкурсы среди некоммерческих неправительственных организаций, 
                    как правило, два раза в год и предоставляет гранты на реализацию проектов по 11 грантовым направлениям. 
                    Актуальную информацию (сроки, положение конкретного конкурса, методические рекомендации) публикуют на сайте фонда.
                </p>
                <a href="https://президентскиегранты.рф/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/culture.webp' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">6. Фонд культурных инициатив</h4>
                <p class="fs-5">Программа президентских грантов Фонда культурных инициатив поддерживает 
                    проекты в сфере культуры, искусства, творческих и креативных индустрий.
                </p>
                <a href="https://фондкультурныхинициатив.рф/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="container py-5 px-5 mb-5 rounded-3 light-yellow-bg border border-2 border-warning">
            <h2 class="fw-bold">Конкурсы</h2>
            <p class="fs-5 fw-medium">
                Конкурсы - это быстрый способ проверить идею, получить обратную связь от экспертов и выйти на новый уровень. 
                Ниже представлены конкурсы для студентов, молодых специалистов и опытных профессионалов: от предметных олимпиад и 
                педагогических состязаний до креативных проектов и просветительских инициатив.
                Выбирайте направление по интересам: образование, наука, культура, медиа, инновации.
                Обратите внимание на дедлайны и требования к заявкам - у каждого конкурса свои критерии отбора. Участвуйте, побеждайте, развивайтесь.
            </p>
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/uchebnik.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">1. Общенациональный конкурс "Учебник года"</h4>
                <p class="fs-5">Общенациональный конкурс Российского профессорского собрания "Учебник года". 
                    Цель конкурса - стимулировать профессорско-преподавательский состав создавать новые учебные 
                    издания с использованием инновационных методов и повышать качество этих изданий (ежегодно).
                </p>
                <a href="https://фондкультурныхинициатив.рф/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/young_scienctist.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">2. Конкурс молодых ученых в области образования</h4>
                <p class="fs-5">Российская академия образования объявляет о проведении в 2026 году XI Конкурса молодых ученых в области наук 
                    об образовании на соискание медали "Молодым ученым за успехи в науке". Конкурс проводится Российской академией образования 
                    в целях активизации и повышения качества исследований в сфере наук об образовании, выполняемых молодыми учеными и 
                    специалистами, работающими в системе образования. К участию в конкурсе приглашаются научные и педагогические 
                    работники научных или образовательных организаций общего, среднего профессионального и высшего образования, 
                    аспиранты и докторанты, имеющие научные достижения в сфере наук об образовании, в возрасте до 35 лет (включительно).
                </p>
                <a href="https://rusacademedu.ru/news/13032026-1-4/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/prof_tomorrow.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">3. Конкурс студенческих проектов "Профессиональное завтра"</h4>
                <p class="fs-5">Сетевой конкурс студенческих проектов "Профессиональное завтра" с участием студентов с инвалидностью.
                    Миссия конкурса - содействие формированию профессиональных компетенций студентов вузов и развитию инклюзивной культуры в сфере образования и труда.
                </p>
                <a href="_________" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/professional.jpeg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">4. Конкурс "Профессионалы"</h4>
                <p class="fs-5">Конкурс "Профессионалы" - это масштабное Всероссийское чемпионатное движение по профессиональному мастерству. 
                    Его стратегическая цель - создать профессиональный человеческий капитал, чтобы оперативно закрывать кадровые потребности 
                    разных отраслей экономики России и способствовать технологическому суверенитету. Движение помогает повышать престиж рабочих 
                    профессий, выявлять талантливую молодёжь и налаживать связь между образованием и реальным сектором. Оно работает в рамках федерального проекта 
                    "Профессионалитет" (с 2025 года входит в нацпроект "Молодёжь и дети").
                </p>
                <a href="https://pro.firpo.ru/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/knowledge_lector.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">5. Всероссийский конкурс "Знание.Лектор"</h4>
                <p class="fs-5">Конкурс организован Российским обществом "Знание". Цель Конкурса – популяризация просветительской деятельности, 
                    выявление лучших лекторов России. Участники конкурса получат возможность войти в команду лекторов Российского общества "Знание" 
                    и регулярно выступать на просветительских мероприятиях.
                </p>
                <a href="https://lektor.znanierussia.ru/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/toy.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">6. Всероссийский конкурс "Родная игрушка"</h4>
                <p class="fs-5">"Родная игрушка" - всероссийский конкурс для тех, кто создаёт игры и игрушки с ценностью, смыслом и заботой о детях. 
                    Участвуй, если хочешь: <br>
                    <ul>
                        <li class="fs-5">Реализовать свою идею - лучшие проекты получат возможность запуска в производство</li>
                        <li class="fs-5">Заявить о своём проекте на многомиллионную аудиторию</li>
                        <li class="fs-5">Получить профессиональную оценку от экспертов рынка</li>
                    </ul>
                </p>
                <a href="https://znanierussia.ru/igrushka" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
        <div class="row py-3">
            <div class="col-12 col-md-2 text-center">
                <img src="{% static 'bootstrap/img/grants/innova.jpg' %}" class="rounded-2 my-3 img-fluid">
            </div>
            <div class="col-12 col-md-10 py-3">
                <h4 class="fw-semibold">7. Конкурс инновации в образовании (КИВО)</h4>
                <p class="fs-5">КИВО объединяет людей, которые создают новые образовательные форматы, инструменты и практики. 
                    Поддерживаются проекты на разных стадиях развития - от первых идей до решений, готовых к масштабированию. 
                    Конкурс помогает участникам увидеть проект со стороны, получить профессиональную обратную связь, найти единомышленников и новые возможности для роста.
                </p>
                <a href="https://kivo.hse.ru/" class="text-yellow"><h5>Узнать больше →</h5></a>
            </div>
            <hr class="my-3">
        </div>
    </div>
    <div class="container mb-5">
        <div class="py-5 text-black">
            <h4 class="mb-4 fw-bold">ИНФОРМАЦИОННЫЕ МАТЕРИАЛЫ</h4>
            <a href="https://www.herzen.spb.ru/upload/medialibrary/9e8/sbaou83jjgcopoanb0e4p1j5pdc35yyc/Informatsionnaya-broshyura-o-konkursakh_29.04.pdf" class="text-decoration-none">
                <p class="mb-1 fs-5 text-black">
                    Информационная брошюра “Программы финансирования НИР российскими и международными фондами и организациями”
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock %}