{% extends 'base.html' %}
{% load static %}
{% block title %}Documents{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Ой!</span> Похоже эта страница еще не создана.</p>
            <p class="lead">
                Мы постараемся создать ее в ближайшее время!
            </p>
            <a href="hgpurf.ru" class="btn btn-primary">На главную</a>
        </div>
    </div>
</div>
{% endblock %}