{% extends 'base.html' %} {% load static %} {% block title %}Сведения об
образовательной организации{% endblock %} {% block content %}
<main class="main">
  <div class="px-4 pt-3">
    <div
      class="d-flex align-items-center justify-content-center anti-corruption-baner position-relative overflow-hidden"
    >
      <div class="media-banner-overlay"></div>
      <h1 class="edu-info-title w-75 mb-0 z-3">Противодействие коррупции</h1>
    </div>
    <div class="container">
      <div class="py-4">
        <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{%url 'main'%}">Главная</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a href="{%url 'main'%}">Университет</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="{%url 'anti_corruption'%}">Противодействие коррупции</a>
            </li>
          </ol>
        </nav>
      </div>
      <h2 class="fw-bold fs-2">Противодействие коррупции</h2>
      <p class="pt-1 mb-5 regulatory-documents d-inline-block">
        <a
          class=""
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Информация размещена во исполнение и в соответствии с нормативными
          документами
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <ul class="regulatory-documents-list">
          <li>
            <a
              href="https://mintrud.gov.ru/docs/mintrud/orders/157"
              target="_blank"
              >Приказ Минтруда России № 530н от 7 октября 2013 г. (в ред.
              Приказа Минтруда России от 26.07.2018 № 490н)</a
            >
            <span
              >"О требованиях к размещению и наполнению подразделов, посвященных
              вопросам противодействия коррупции, официальных сайтов федеральных
              государственных органов, Центрального банка Российской Федерации,
              Пенсионного фонда Российской Федерации, Фонда социального
              страхования Российской Федерации, Федерального фонда обязательного
              медицинского страхования, государственных корпораций (компаний),
              иных организаций, созданных на основании федеральных законов, и
              требованиях к должностям, замещение которых влечет за собой
              размещение сведений о доходах, расходах, об имуществе и
              обязательствах имущественного характера"</span
            >
          </li>
          <li>
            <a
              href="https://www.consultant.ru/cons/cgi/online.cgi?req=doc&base=EXP&n=675443#GOCLi4V62znAOnJP"
              target="_blank"
              >Письмо Федерального архивного агентства от 24 октября 2018 г. N
              3/2535-Ю
            </a>
            <span
              >"О типовых нарушениях положений Требований к размещению и
              наполнению подразделов, посвященных вопросам противодействия
              коррупции, официальных сайтов федеральных государственных органов,
              Центрального банка Российской Федерации, Пенсионного фонда
              Российской Федерации, Фонда социального страхования Российской
              Федерации, Федерального фонда обязательного медицинского
              страхования, государственных корпораций (компаний), иных
              организаций, созданных на основании федеральных законов,
              утвержденных приказом Минтруда России от 7 октября 2013 г. N
              530н"</span
            >
          </li>
        </ul>
      </div>
      <h3 class="mb-4 fw-bold">
        1. Нормативные правовые и иные акты в сфере противодействия коррупции
      </h3>
      <h4 class="mb-4 fw-bold">Нормативные правовые и иные акты</h4>
      <div class="my-accordion mb-5">
        <div class="ps-5 details yelow-divider">
          <details class="details border-0" name="basic-info-accordion">
            <summary class="details-title">
              <p class="fw-semibold">Федеральные законы</p>
              <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
            </summary>
            <div class="details-content">
              <ol class="regulatory-documents-list">
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=6&nd=102126657&intelsearch="
                    target="_blank"
                    >Федеральный закон от 25 декабря 2008 г. № 273-ФЗ</a
                  >
                  <span>"О противодействии коррупции"</span>
                </li>
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102162478&intelsearch=%D4%E5%E4%E5%F0%E0%EB%FC%ED%FB%E9+%E7%E0%EA%EE%ED+%D0%EE%F1%F1%E8%E9%F1%EA%EE%E9+%D4%E5%E4%E5%F0%E0%F6%E8%E8+%EE%F2+29.12.2012+%B9+280-%D4%C7"
                    target="_blank"
                    >Федеральный закон Российской Федерации от 29 декабря 2012
                    г. № 280-ФЗ</a
                  >
                  <span
                    >"О внесении изменений в отдельные законодательные акты
                    Российской Федерации в части создания прозрачного механизма
                    оплаты труда руководителей государственных (муниципальных)
                    учреждений и представления руководителями этих учреждений
                    сведений о доходах, об имуществе и обязательствах
                    имущественного характера"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=2&nd=102161337&intelsearch="
                    target="_blank"
                    >Федеральный закон от 3 декабря 2012 г. № 230-ФЗ</a
                  >
                  <span
                    >"О контроле за соответствием расходов лиц, замещающих
                    государственные должности, и иных лиц их доходам"</span
                  >
                </li>
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102801500&intelsearch=&firstDoc=1%3E%20&link_id=0&nd=102801500&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Федеральный закон от 31 июля 2020 г. № 259-ФЗ</a
                  >
                  <span
                    >"О цифровых финансовых активах, цифровой валюте и о
                    внесении изменений в отдельные законодательные акты
                    Российской Федерации"</span
                  >
                </li>
              </ol>
            </div>
          </details>
          <details class="details border-0" name="basic-info-accordion">
            <summary class="details-title">
              <p class="fw-semibold">Указы Президента РФ</p>
              <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
            </summary>
            <div class="details-content">
              <ol class="regulatory-documents-list">
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=603637722&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Указ Президента Российской Федерации от 29 декабря 2022 г.
                    № 968</a
                  >
                  <span
                    >"Об особенностях исполнения обязанностей, соблюдения
                    ограничений и запретов в области противодействия коррупции
                    некоторыми категориями граждан в период проведения
                    специальной военной операции"</span
                  >
                </li>
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102935479&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Указ Президента Российской Федерации от 10 декабря 2020 г.
                    № 778</a
                  >
                  <span
                    >"О мерах по реализации отдельных положений Федерального
                    закона "О цифровых финансовых активах, цифровой валюте и о
                    внесении изменений в отдельные законодательные акты
                    Российской Федерации"</span
                  >
                </li>
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=602370769"
                    target="_blank"
                    >Указ Президента РФ от 16 августа 2021 г. № 478</a
                  >
                  <span
                    >"О Национальном плане противодействия коррупции на 2021 -
                    2024 годы"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102353813&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Указ Президента Российской Федерации от 23 июня 2014 г. №
                    460</a
                  >
                  <span
                    >"Об утверждении формы справки о доходах, расходах, об
                    имуществе и обязательствах имущественного характера и
                    внесении изменений в некоторые акты Президента Российской
                    Федерации"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=1&nd=102166580&intelsearch="
                    target="_blank"
                    >Указ Президента Российской Федерации от 8 июля 2013 г. №
                    613</a
                  >
                  <span>"Вопросы противодействия коррупции"</span>
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=3&nd=102137438&intelsearch="
                    target="_blank"
                    >Указ Президента Российской Федерации от 13 апреля 2010 г. №
                    460</a
                  >
                  <span
                    >"О Национальной стратегии противодействия коррупции и
                    Национальном плане противодействия коррупции на 2010-2011
                    годы"</span
                  >
                </li>
              </ol>
            </div>
          </details>
          <details class="details border-0" name="basic-info-accordion">
            <summary class="details-title">
              <p class="fw-semibold">Постановления Правительства РФ</p>
              <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
            </summary>
            <div class="details-content">
              <ol class="regulatory-documents-list">
                <li>
                  <a
                    href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102463022"
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 5 марта
                    2018 г. № 228</a
                  >
                  <span
                    >"О реестре лиц, уволенных в связи с утратой доверия"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102366631&intelsearch=&firstDoc=1&lastDoc=1"
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 21
                    января 2015 г. № 29</a
                  >
                  <span
                    >"Об утверждении правил сообщения работодателем о заключении
                    трудового или гражданско-правового договора на выполнение
                    работ (оказание услуг) с гражданином, замещавшим должности
                    государственной или муниципальной службы, перечень которых
                    устанавливается нормативными правовыми актами Российской
                    Федерации"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102170581&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 9
                    января 2014 г. № 10</a
                  >
                  <span
                    >"О порядке сообщения отдельными категориями лиц о получении
                    подарка в связи с их должностным положением или исполнением
                    ими служебных (должностных) обязанностей, сдачи и оценки
                    подарка, реализации (выкупа) и зачисления средств,
                    вырученных от его реализации"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=13&nd=102166497&intelsearch="
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 5 июля
                    2013 г. № 568</a
                  >
                  <span
                    >"О распространении на отдельные категории граждан
                    ограничений, запретов и обязанностей, установленных
                    Федеральным законом "О противодействии коррупции» и другими
                    федеральными законами в целях противодействия
                    коррупции"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102170581&intelsearch=&firstDoc=1"
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 13
                    марта 2013 г. № 207</a
                  >
                  <span
                    >"О распространении на отдельные категории граждан
                    ограничений, запретов и обязанностей, установленных
                    Федеральным законом "О противодействии коррупции» и другими
                    федеральными законами в целях противодействия
                    коррупции"</span
                  >
                </li>
                <li>
                  <a
                    href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=1&nd=102163736&intelsearch="
                    target="_blank"
                    >Постановление Правительства Российской Федерации от 13
                    марта 2013 г. № 208</a
                  >
                  <span
                    >"Об утверждении правил представления лицом, поступающим на
                    работу на должность руководителя федерального
                    государственного учреждения, а также руководителем
                    федерального государственного учреждения сведений о своих
                    доходах, об имуществе и обязательствах имущественного
                    характера и о доходах, об имуществе и обязательствах
                    имущественного характера своих супруга (супруги) и
                    несовершеннолетних детей</span
                  >
                </li>
              </ol>
            </div>
          </details>
          <details class="details border-0" name="basic-info-accordion">
            <summary class="details-title">
              <p class="fw-semibold">
                Иные нормативные правовые акты. Приказы Министерства просвещения
                РФ
              </p>
              <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
            </summary>
            <div class="details-content">
              <ol class="regulatory-documents-list">
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/843503640a7790666733591188b7103d/"
                    target="_blank"
                    >Приказ Минпросвещения России от 19 февраля 2025 г. № 124
                  </a>
                  <span
                    >"Об утверждении Порядка уведомления представителя
                    нанимателя (работодателя) работниками, замещающими отдельные
                    должности на основании трудового договора в организациях,
                    созданных для выполнения задач, поставленных перед
                    Министерством просвещения Российской Федерации, о фактах
                    обращения в целях склонения к совершению коррупционных
                    правонарушений, регистрации таких уведомлений и организации
                    проверки содержащихся в них сведений"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/37de0da1aa5e70425f4608cd2d269cfd/"
                    target="_blank"
                    >Приказ Минпросвещения России от 29 января 2025 г. № 54
                  </a>
                  <span
                    >"Об утверждении Плана мероприятий по противодействию
                    коррупции Министерства просвещения РФ"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/bc581b3045e89f17dcf342afb589e6ff/"
                    target="_blank"
                    >Приказ Минпросвещения России от 9 апреля 2024 г. № 231
                  </a>
                  <span
                    >"Об утверждении Порядка поступления в Министерство
                    просвещения РФобращений, заявлений и уведомлений, являющихся
                    основаниями для проведения заседания комиссии Министерства
                    просвещения РФ по соблюдению требований к служебному
                    поведению и урегулированию конфликта интересов"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/603424ceffe7ef7a19c42588482b3201/"
                    target="_blank"
                    >Приказ Минпросвещения России от 17 октября 2023 г. № 774
                  </a>
                  <span
                    >"Об утверждении Порядка уведомления работодателя
                    работниками, замещающими отдельные должности на основании
                    трудовых договоров в организациях, созданных для выполнения
                    задач, поставленных перед Министерством просвещения РФ, о
                    возникновении личной заинтересованности, которая приводит
                    или может привести к конфликту интересов"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/81343e283958d6032ccb4fab00e8e9a7/"
                    target="_blank"
                    >Приказ Минпросвещения России от 19 ноября 2021 г. № 851
                  </a>
                  <span
                    >"О распространении на работников, замещающих отдельные
                    должности на основании трудового договора в организации
                    организациях, созданных для выполнения задач, поставленных
                    перед Министерством просвещения РФ, ограничений, запретов и
                    обязанностей"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/a5067874c5c1d2e5efe65da1ff8272ea/"
                    target="_blank"
                    >Приказ Минпросвещения России от 12 августа 2021 г. № 553
                  </a>
                  <span
                    >"Об утверждении Перечня должностей в организациях,
                    созданных для выполнения задач, поставленных перед
                    Министерством просвещения РФ при назначении на которые
                    граждане и при замещении которых работники обязаны
                    представлять сведения о своих доходах, расходах, об
                    имуществе и обязательствах имущественного характера, а также
                    сведения о доходах, расходах, об имуществе и обязательствах
                    имущественного характера своих супруги (супруга) и
                    несовершеннолетних детей"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/bf15c11b00fd7f89bc54349e291bbb15/"
                    target="_blank"
                    >Приказ Минпросвещения России от 12 августа 2021 г. № 550
                  </a>
                  <span
                    >"Об утверждении Перечня должностей, замещение которых
                    влечет за собой размещение сведений о доходах, расходах, об
                    имуществе и обязательствах имущественного характера
                    федеральных государственных гражданских служащих
                    Министерства просвещения РФ и работников организаций,
                    созданных для выполнения задач, поставленных перед
                    Министерством просвещения РФ, а также сведений о доходах,
                    расходах, об имуществе и обязательствах имущественного
                    характера их супруг (супругов) и несовершеннолетних детей в
                    информационно-телекоммуникационной сети "Интернет"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/d8c5356855df9e0ec6204d2c170c39ce/"
                    target="_blank"
                    >Приказ Минпросвещения России от 21 февраля 2019 г. № 83
                  </a>
                  <span
                    >"Об утверждении Порядка представления гражданами,
                    претендующими на замещение должностей, и работниками,
                    замещающими должности в организациях, созданных для
                    выполнения задач, поставленных перед Министерством
                    просвещения РФ, сведений о своих доходах, расходах, об
                    имуществе и обязательствах имущественного характера, а также
                    сведений о доходах, расходах, об имуществе и обязательствах
                    имущественного характера своих супруги (супруга) и
                    несовершеннолетних детей"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/71b6158ecbcd63a4cebeb3e0ad233510/"
                    target="_blank"
                    >Приказ Минпросвещения России от 29 ноября 2018 г. № 260
                  </a>
                  <span
                    >"Об утверждении Порядка принятия решения об осуществлении
                    контроля за расходами федеральных государственных
                    гражданских служащих Министерства просвещения РФ,
                    работников, замещающих отдельные должности на основании
                    трудового договора в организациях, созданных для выполнения
                    задач, поставленных перед Министерством просвещения РФ, а
                    также за расходами их супруг (супругов) и несовершеннолетних
                    детей"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/eb2367cf0f5e1700efb32e4a3143a95b/"
                    target="_blank"
                    >Приказ Минпросвещения России от 29 ноября 2018 г. № 259
                  </a>
                  <span
                    >"Об утверждении Положения о проверке достоверности и
                    полноты сведений, представляемых гражданами, претендующими
                    на замещение должностей, и работниками, замещающими
                    должности в организациях, созданных для выполнения задач,
                    поставленных перед Министерством просвещения РФ, и
                    соблюдения ими требований к служебному поведению"</span
                  >
                </li>
                <li>
                  <a
                    href="https://docs.edu.gov.ru/document/62793b1d4bc5a0dc5f94392db27917d7/"
                    target="_blank"
                    >Приказ Минпросвещения России от 5 октября 2018 г. № 97
                  </a>
                  <span
                    >"Об утверждении Положения о комиссии Министерства
                    просвещения Российской Федерации по соблюдению требований к
                    служебному поведению и урегулированию конфликта
                    интересов"</span
                  >
                </li>
              </ol>
            </div>
          </details>
        </div>
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">Локальные нормативные акты ХГПУ</p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ul class="regulatory-documents-list">
              <li>
                <a
                  href="https://mintrud.gov.ru/docs/mintrud/orders/157"
                  target="_blank"
                  >Приказ ХПГУ от __.__.20__ № __</a
                >
                <span>"О противодействии коррупции"</span>
              </li>
              <li>
                <a
                  href="https://mintrud.gov.ru/docs/mintrud/orders/157"
                  target="_blank"
                  >Приказ № 1475 от 19.12.2018</a
                >
                <span
                  >“Об утверждении «Положения о порядке сообщения работниками
                  МПГУ о получении подарка в связи с их должностным положением
                  или исполнением ими должностных обязанностей, сдачи и оценки
                  подарка, реализации (выкупа) и зачислении средств, вырученных
                  от его реализации»”"</span
                >
              </li>
            </ul>
          </div>
        </details>
      </div>
      <h3 class="mb-4 fw-bold">2. Антикоррупционная экспертиза</h3>
      <p class="mb-5">
        Информация о подготовке Минпросвещения России проектов нормативных
        правовых актов и результатах их общественного обсуждения, а также о
        результатах проведения независимой антикоррупционной экспертизы
        размещается на официальном сайте
        <a href="https://regulation.gov.ru/" class="link-color"
          >regulation.gov.ru</a
        >
        в сети "Интернет". Единый адрес электронный почты, созданной для
        направления экспертных заключений
        <a href="https://info@edu.gov.ru" class="link-color">info@edu.gov.ru</a
        >.
      </p>
      <h3 class="mb-4 fw-bold">3. Методические материалы</h3>
      <div class="my-accordion mb-5">
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">
              Методические материалы вышестоящих организаций
            </p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ol class="regulatory-documents-list">
              <li>
                <a
                  href="https://mintrud.gov.ru/ministry/programms/anticorruption/"
                  target="_blank"
                  >Методические материалы Минтруда России</a
                >
                <span
                  >, одобренные президиумом Совета при Президенте РФ по
                  противодействию коррупции, методические рекомендации, обзоры,
                  разъяснения и иные документа</span
                >
              </li>
              <li>
                <a
                  href="https://gossluzhba.gov.ru/anticorruption"
                  target="_blank"
                  >Специализированный информационно-методический ресурс</a
                >
                <span
                  >по вопросам противодействия коррупции на базе федеральной
                  государственной информационной системы "Единая информационная
                  система управления кадровым составом государственной
                  гражданской службы РФ"</span
                >
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/c8f8e76a3e0bb992dce27673f313baf5/"
                  target="_blank"
                  >Меры по предупреждению коррупции в организациях</a
                >
                <span>(подготовлено Минтрудом России)</span>
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/a76109bfb0759491ac3ff18993c79daa/"
                  target="_blank"
                  >Рекомендации по порядку проведения оценки коррупционных
                  рисков в организациях</a
                >
                <span>(подготовлено Минтрудом России)</span>
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/68cc36fbc7c40ce84f56fb608208d9e9/"
                  target="_blank"
                  >Методические рекомендации "О мерах по повышению эффективности
                  работы по профилактике и противодействию коррупционных
                  правонарушений в организациях, подведомственных Министерству
                  просвещения РФ"</a
                >
              </li>
              <li>
                <a
                  href="https://open.edu.gov.ru/anti-corruption/guidelines/"
                  target="_blank"
                  >Иные методические материалы в сфере противодействия
                  коррупции, опубликованные на сайте Минпросвещения России</a
                >
              </li>
            </ol>
          </div>
        </details>
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">Методические материалы ХГПУ</p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ol class="regulatory-documents-list">
              <li>
                <a href="" target="_blank">Lorem ipsum dolor sit amet</a>
                <span
                  >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </span>
              </li>
            </ol>
          </div>
        </details>
      </div>
      <h3 class="mb-4 fw-bold">
        4. Формы документов, связанных с противодействием коррупции, для
        заполнения
      </h3>
      <div class="my-accordion mb-5">
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">
              Рекомендуемые формы документов, связанных с противодействием
              коррупции, для заполнения
            </p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ol class="regulatory-documents-list">
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/1cab252120daf9de914d914b58e100b8/"
                  target="_blank"
                  >Форма отчета о ходе выполнения Плана мероприятий по
                  противодействию коррупции Министерства просвещения РФ</a
                >
                <span
                  >утвержденного приказом Минпросвещения России от 29 января
                  2025 г. № 54, за период с 1 января 2025 г. по 31 декабря 2025
                  г.</span
                >
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/f553a3a9cead7983f85e27d4f1726371/"
                  target="_blank"
                  >Уведомление к приказу Минпросвещения России от 19 февраля
                  2025 г. № 124 представителя нанимателя (работодателя)
                  работниками, замещающими отдельные должности на основании
                  трудового договора в организациях, созданных для выполнения
                  задач, поставленных перед Министерством просвещения РФ, о
                  фактах обращения в целях склонения к совершению коррупционных
                  правонарушений</a
                >
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/5c3d527e5fc9280af24f77dd57d12f37/"
                  target="_blank"
                  >Заявление к приказу Минпросвещения России от 9 апреля 2024 г.
                  № 231 о невозможности по объективным причинам представить
                  сведения о доходах, об имуществе и обязательствах
                  имущественного характера своих супруги (супруга) и
                  несовершеннолетних детей</a
                >
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/58e8b770200bec72858d082ee920a4b0/"
                  target="_blank"
                  >Уведомление к приказу Минпросвещения России от 17 октября
                  2023 г. № 774 работодателя работниками, замещающими отдельные
                  должности на основании трудовых договоров в организациях,
                  созданных для выполнения задач, поставленных перед
                  Министерством просвещения Российской Федерации, о
                  возникновении личной заинтересованности, которая приводит или
                  может привести к конфликту интересов</a
                >
              </li>
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/783cf8ba0fe4fcbf501e01e984dfe1b5/"
                  target="_blank"
                  >Обращение гражданина, представителя организации по фактам
                  коррупционных правонарушений</a
                >
              </li>
              <li>
                <a
                  href="https://upgrade2025.tilda.ws/anti-corruption"
                  target="_blank"
                  >Иные формы документов, связанных с противодействием
                  коррупции, для заполнения (открытое министерство |
                  Министерство просвещения РФ)</a
                >
              </li>
            </ol>
          </div>
        </details>
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">
              Формы документов ХГПУ, связанных с противодействием коррупции, для
              заполнения
            </p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ol class="regulatory-documents-list">
              <li>
                <a
                  href="https://docs.edu.gov.ru/document/1cab252120daf9de914d914b58e100b8/"
                  target="_blank"
                  >Lorem ipsum</a
                >
                <span>Lorem ipsum</span>
              </li>
            </ol>
          </div>
        </details>
      </div>
      <h3 class="mb-4 fw-bold">
        5. Сведения о доходах, расходах, об имуществе и обязательствах
        имущественного характера
      </h3>
      <p class="mb-5">
        В соответствии с подпунктом «ж» пункта 1
        <a
          href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=603637722"
          class="link-color"
          >Указа Президента Российской Федерации от 29 декабря 2022 г. № 968 «Об
          особенностях исполнения обязанностей, соблюдения ограничений и
          запретов в области противодействия коррупции некоторыми категориями
          граждан в период проведения специальной военной операции»</a
        >
        в период проведения специальной военной операции и впредь до издания
        соответствующих нормативных правовых актов Российской Федерации
        размещение сведений о доходах, расходах, об имуществе и обязательствах
        имущественного характера на официальных сайтах органов публичной власти
        и организаций в сети «Интернет» и их предоставление общероссийским СМИ
        для опубликования не осуществляется.
      </p>
      <h3 class="mb-4 fw-bold">
        6. Комиссия по соблюдению требований к служебному поведению и
        урегулированию конфликта интересов (аттестационная комиссия)
      </h3>
      <a
        href="https://open.edu.gov.ru/anti-corruption/commission"
        class="d-inline-block mb-3 fw-bold fs-5 text-decoration-none link-color"
        >Комиссия по соблюдению требований к служебному поведению и
        урегулированию конфликта интересов Министерства просвещения Российской
        Федерации</a
      >
      <div class="my-accordion mb-5">
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">
              Комиссия ХПГУ по соблюдению требований к служебному поведению и
              урегулированию конфликта интересов
            </p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <ul class="regulatory-documents-list">
              <li>
                <a href="" target="_blank">Состав комиссии</a>
              </li>
              <li>
                <a href="" target="_blank">Положение о комиссии</a>
              </li>
              <li>
                <a href="" target="_blank"
                  >Сведения о состоявшемся заседании комиссии, принятых
                  решениях</a
                >
              </li>
            </ul>
          </div>
        </details>
      </div>
      <h3 class="mb-4 fw-bold">
        7. Обратная связь для сообщений о фактах коррупции
      </h3>
      <a
        href="https://open.edu.gov.ru/anti-corruption/feedback/"
        class="d-inline-block mb-3 fw-bold fs-5 text-decoration-none link-color"
        >Обратная связь с Министерством просвещения Российской Федерации для
        сообщений о фактах коррупции</a
      >
      <div class="my-accordion mb-5">
        <details class="details yelow-divider" name="basic-info-accordion">
          <summary class="details-title">
            <p class="fw-bold">
              Обратная связь с ХГПУ для сообщений о фактах коррупции
            </p>
            <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
          </summary>
          <div class="details-content">
            <p>
              Нормативно правовой акт, регламентирующий регламентирующем порядок
              рассмотрения обращений граждан
            </p>
            <ul class="regulatory-documents-list">
              <li>
                <a
                  href="http://www.pravo.gov.ru/proxy/ips/?docbody=&link_id=18&nd=102106413"
                  target="_blank"
                  >Федеральный закон от 02.05.2006 №59-ФЗ "О порядке
                  рассмотрения обращений граждан Российской Федерации"</a
                >
              </li>
            </ul>
            <p>
              Способы для граждан и юридических лиц беспрепятственно направлять
              свои обращения
            </p>
            <ul class="regulatory-documents-list">
              <li>
                Посредством электронной почты на адрес:
                <a href="mailto:hgpurf@yandex.ru">hgpurf@yandex.ru</a>
              </li>
              <li>
                По телефону: <a href="tel:+79901402100">+7 (990) 140-21-00</a>
              </li>
            </ul>
          </div>
        </details>
      </div>
    </div>
    <div class="grey-card">
      <p class="mb-4 fw-semibold fs-3 text-warning">
        Антимонопольный комплаенс
      </p>
      <ul class="regulatory-documents-list">
        <li>
          <a
            href="https://docs.edu.gov.ru/document/1cab252120daf9de914d914b58e100b8/"
            target="_blank"
            >Приказ ...</a
          >
        </li>
        <li>
          <a
            href="https://docs.edu.gov.ru/document/1cab252120daf9de914d914b58e100b8/"
            target="_blank"
            >Приказ ...</a
          >
        </li>
        <li>
          <a
            href="https://docs.edu.gov.ru/document/1cab252120daf9de914d914b58e100b8/"
            target="_blank"
            >Отчет ...</a
          >
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
