{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&amp;subset=latin,cyrillic"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link
      type="text/css"
      href="{% static 'bootstrap/css/main.css' %}"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-top">
          <div class="container-fluid">
            <div class="container py-2">
              <div
                class="d-flex flex-row gap-4 align-items-center justify-content-between"
              >
                <div class="d-flex align-items-center">
                  <ul
                    class="header-top-items justify-content-center gap-5 mb-0"
                  >
                    <li class="header-top-item">
                      <div class="dropdown">
                        <i class="fa-solid fa-briefcase"></i
                        ><a
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          >Школьнику</a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#"
                              >Малая академия наук ХГПУ</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Психолого-педагогические классы</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Профориентация</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Школьные спасательные отряды</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-book-open-reader"></i>
                      <a href="">Абитуриенту</a>
                    </li>
                    <li class="header-top-item">
                      <div class="dropdown">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          >Студенту</a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#"
                              >Учебный процесс</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Социальная поддержка</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Студенческая наука</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Студенческие сообщества</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Карьера</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Подготовка вожатых</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-user-graduate"></i>
                      <a href="">Выпускнику</a>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-book-open"></i>
                      <a href="">Аспиранту</a>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-file-pen"></i>
                      <a href="">Сотруднику</a>
                    </li>
                    <li>
                      <a class="dpo d-block px-3 py-1 rounded-3" href="">ДПО</a>
                    </li>
                  </ul>
                </div>
                <div class="d-flex align-items-center">
                  <ul
                    class="header-top-items justify-content-center gap-2 mb-0"
                  >
                    <li class="me-4">
                      <a
                        href=""
                        class="search align-items-center rounded-circle px-1 py-1"
                        ><i class="fa-solid fa-magnifying-glass"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="header-top-icons border border-2 align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-language"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="header-top-icons border border-2 align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-eye-low-vision"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="search align-items-center rounded-circle px-1 py-1"
                        ><i class="fa-solid fa-square-phone"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="lgn align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-arrow-right-to-bracket"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid header-menu">
          <div class="container py-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="logo d-flex align-items-center">
                <a href="https://edu.gov.ru/"
                  ><img src="{% static 'bootstrap\img\minpros.png' %}" alt=""
                /></a>
                <a href="/"
                  ><img src="{% static 'bootstrap\img\hgpu-logo.png' %}" alt=""
                /></a>
              </div>
              <ul class="header-menu-items d-flex align-items-center gap-5">
                <li class="header-menu-item" id="#m-link-university">
                  <a href="#">Университет</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Образование</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Наука</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Студенческая жизнь</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Медиа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <!-- main banner section -->
        <section class="conteiner-fluid main-banner">
          <div class="container position-relative d-flex align-items-center">
            <div class="row">
              <div class="col-6 px-4">
                <h1 class="pt-5 banner-title mb-4">
                  Херсонский государственный педагогический университет
                </h1>
                <p class="mb-5 fs-5">
                  Флагман педагогического образования региона
                </p>
                <a
                  class="d-inline-block px-5 py-3 blc text-decoration-none rounded-5 fw-semibold shadow"
                  href=""
                >
                  Поступить в ХГПУ
                </a>
              </div>
            </div>
            <!-- CUSTOM DROP MENU START -->
            <div class="container-xxl rounded-bottom-3 py-5 gap-5 custom-drop-menu d-none position-absolute top-0 start-0 z-10" id="#univer-menu">
              <div class="row rounded mb-5 mx-3 gap-4">
                <div class="col-5 rounded">
                  <div class="row rounded py-3">
                    <div class="col-3 fw-bold fs-5">Университет</div>
                    <div class="col-9">
                      <hr class="border border-warning border-1 opacity-50" />
                    </div>
                  </div>
                  <div class="row rounded">
                    <div class="col-6 rounded">
                      <a href="#"
                        ><p>Сведения об образовательной организации</p></a
                      >
                      <p>Ректор ХГПУ</p>
                      <p>Структура университета</p>
                      <p>Руководство</p>
                      <p>Преподаватели и сотрудники</p>
                      <p>Документы</p>
                      <p>Партнеры</p>
                      <p>Брендбук ХГПУ</p>
                      <p>Контакты</p>
                    </div>
                    <div class="col-6 rounded">
                      <a href="#"><p>Учебно-педагогический округ #37</p></a>
                      <p>Ассоциация выпускников</p>
                      <p>Противодействие идеологии терроризма и экстремизма</p>
                      <p>Борьба с мошенничеством</p>
                      <p>Противодействие коррупции</p>
                      <p>Работа в ХГПУ</p>
                      <p>Сведения о доходах</p>
                    </div>
                  </div>
                </div>
                <div class="col px-4 pt-3 rounded instituts-column">
                  <p class="fw-bold fs-5">Институты</p>
                  <p>Институт культуры и искусств</p>
                  <p>Институт психологии</p>
                  <p>Институт управления и права</p>
                  <p>Институт естествознания, физической культуры и спорта</p>
                  <p>Институт информационных технологий</p>
                  <p>Институт педагогического и специальногообразования</p>
                  <p>Институт филологии и социальных коммуникаций</p>
                </div>
                <div class="col rounded gap-5">
                  <div class="row rounded hgpu-card mb-3 py-3">
                    <div class="col justify-content-center align-items-center">
                      <img
                        src="{% static 'bootstrap\img\hgpu.png' %}"
                        alt=""
                        class="opacity-25"
                      />
                    </div>
                    <div class="col">
                      <p class="h5">
                        ХГПУ: <br />
                        вчера, сегодня, завтра
                      </p>
                      <a href="#">
                        <div class="row">
                          <div class="col"><p>Перейти</p></div>
                          <div class="col">
                            <i
                              class="fa-solid fa-circle-arrow-right fa-xl"
                              style="color: #ffba55"
                            ></i>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row rounded hgpu-card">
                    <div class="col p-5">
                      <p class="h5 mb-4">Ключевые проекты университета</p>
                      <p>Медиапедагогика</p>
                      <p>Психолого-педагогические классы</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-around py-2 px-2 gap-2">
                <div class="col hgpu-card rounded p-1 text-center">
                  Разговоры о важном
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  Обучение служением
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  Движение первых
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  2025 - Год защитника Отечества
                </div>
              </div>
            </div>
            <!-- CUSTOM DROP MENU  END-->
          </div>
        </section>
        <!-- news section -->
        <section class="py-5">
          <div class="container">
            <h1 class="py-3 px-4 fw-semibold">Новости</h1>
            <div class="row row-cols-1 row-cols-md-3 g-5 py-3 px-4 mb-4">
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post1.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">25 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        В честь третьей годовщины воссоединения новых регионов с
                        Россией
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post2.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">25 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        Творческий конкурс
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post3.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">20 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        Епископ Скадовский и Алешкинский Филарет совершил чин
                        освящения здания университета
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post4.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">20 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        Тематический урок от представителей Росгвардии
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post5.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">20 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        Профессор кафедры философии и истории ХГПУ Денис
                        Солодухин принял участие в круглом столе Общественной
                        палаты РФ
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a class="card-link" href="">
                  <div class="card h-100 news-card">
                    <img
                      src="{% static 'bootstrap\img\posts_photo\post6.webp' %}"
                      class="card-img-top card-img-size"
                      alt="..."
                    />
                    <div class="card-body">
                      <p class="card-text px-3">19 сентября 2025</p>
                      <h5 class="card-title px-3 fw-semibold">
                        Акция "Вузы для фронта!"
                      </h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="d-flex justify-content-center py-5">
              <a class="all-news-btn" href="">Все новости</a>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">FOOTER</footer>
    </div>
  </body>
  <script src="{% static 'bootstrap/js/main.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</html>
