{% extends 'base.html' %} {% load static %} {% block title %}
Финансово-хозяйственная деятельность {% endblock %} {% block content %}
<main class="main">
  <div class="container">
    <div class="py-4">
      <nav style="--bs-breadcrumb-divider: '»'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Университет</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Сведения об образовательной организации</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="">Финансово-хозяйственная деятельность</a>
          </li>
        </ol>
      </nav>
    </div>
    <h2 class="mb-5 fw-bold fs-2 basic-info-title">
      Финансово-хозяйственная деятельность
    </h2>
    <p class="fw-semibold fs-4 mb-4">
      Сведения об объеме образовательной деятельности
    </p>
    <p>
      Объем образовательной деятельности, финансовое обеспечение которой
      осуществляется за счёт бюджетных ассигнований федерального бюджета, за
      счёт бюджетов субъектов Российской Федерации, за счёт местных бюджетов, по
      договорам об оказании платных образовательных услуг за счет сред
      физических (юридических) лиц.
    </p>
    <div class="mb-4">
      <table class="accordion-table text-center table-white-border">
        <tr>
          <th class="p-3" colspan="4">
            Объем образовательной деятельности, финансовое обеспечение которой
            осуществляется (тыс. руб.):
          </th>
        </tr>
        <tr class="table-head">
          <td class="p-3">
            за счёт бюджетных ассигнований федерального бюджета
          </td>
          <td class="p-3">за счёт бюджетов субъектов РФ</td>
          <td class="p-3">за счёт местных бюджетов</td>
          <td class="p-3">
            по договорам об оказании платных образовательных услуг за счет
            средств физических (юридических) лиц
          </td>
        </tr>
        <tr class="tr-light">
          <td class="p-3">???</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
        </tr>
        <tr class="tr-dark">
          <td class="p-3">???</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
        </tr>
      </table>
    </div>
    <p class="fw-semibold fs-4 mb-4">
      Информация о поступлении и расходовании финансовых и материальных средств
      по итогам финансового года
    </p>
    <div class="mb-4">
      <table class="accordion-table w-100 text-center table-white-border">
        <tr>
          <th class="p-3">Год</th>
          <th class="p-3">
            Поступление финансовых и материальных средств (тыс. руб.)
          </th>
          <th class="p-3">
            Расходование финансовых и материальных средств (тыс. руб.)
          </th>
        </tr>
        <tr class="tr-light">
          <td class="p-3">2024</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
        </tr>
        <tr class="tr-dark">
          <td class="p-3">2023</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
        </tr>
        <tr class="tr-light">
          <td class="p-3">2022</td>
          <td class="p-3">???</td>
          <td class="p-3">???</td>
        </tr>
      </table>
    </div>
    <p class="fw-semibold fs-4 mb-4">
      Информация о ФГБОУ ВО “ХГПУ” на официальном сайте для размещения
      информации о государственных (муниципальных) учреждениях (bus.gov.ru)
    </p>
    <p>
      <a href="https://bus.gov.ru/agency/2836478" class="link-color"
        >Ссылка на информацию, согласно ФЗ №83-ФЗ от 08.05.2010 "О внесении
        изменений в отдельные законодательные акты РФ в связи с
        совершенствованием правового положения государственных (муниципальных)
        учреждений", а также согласно приказу Министерства финансов РФ от
        21.07.2011 № 86н "Об утверждении порядка предоставления информации
        государственным (муниципальным) учреждением, её размещения на
        официальном сайте в сети Интернет и ведения указанного сайта"</a
      >
    </p>
    <p class="fw-semibold fs-4 mb-4">
      План финансово-хозяйственной деятельности образовательной организации,
      утвержденный в установленном законодательством РФ порядке, или бюджетная
      смета образовательной организации
    </p>
    <ul class="mb-5">
      <li>
        <a
          class="link-color"
          href="https://cloud.hgpurf.ru/index.php/s/9zDLtWyEX85p47a?dir=/&openfile=true"
          target="_blank"
          >План финансово-хозяйственной деятельности на 2025 год и плановый
          период 2026 и 2027 гг.</a
        >
      </li>
      <li>
        <a
          class="link-color"
          href="https://cloud.hgpurf.ru/index.php/s/FYgFSM25NFTwi7X?openfile=true"
          target="_blank"
          >План финансово-хозяйственной деятельности на 2024 год и плановый
          период 2025 и 2026 гг.</a
        >
      </li>
      <li>
        <a
          class="link-color"
          href="https://cloud.hgpurf.ru/index.php/s/xeeBaADHSH3acGq?dir=/&openfile=true"
          target="_blank"
          >План финансово-хозяйственной деятельности на 2023 год и плановый
          период 2024 и 2025 гг.</a
        >
      </li>
    </ul>
  </div>
</main>
{% endblock %}
