{% extends 'base.html' %}
{% load static %}
{% block title %}Документы{% endblock %}
{% block content %}
<div class="container-xxl">
    <div class="py-4">
        <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="">Университет</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">Сведения об образовательной организации</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">Документы</a></li>
            </ol>
        </nav>
    </div>
    <h2 class="mb-5 fw-bold fs-2 basic-info-title">Документы</h2>
        <p><h6>В разделе приведены документы (копии или электронные документы), отражающие право ФГБОУ ВО “Херсонский государственный педагогический университет” на осуществление образовательной деятельности, а также документы, регламентирующие внутреннюю жизнь университета.</h6></p>
    <ul>
        <li>ЭП</li>
    </ul>
    <p><h4 class="fw-semibold mb-3">Устав образовательной организации</h4></p>
    <div class="d-flex align-items-center gap-2 mb-5">
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/H8r6dbrrqdqETPE">Устав федерального государственного бюджетного образовательного учреждения высшего образования "Херсонский государственный педагогический университет" (новая редакция | 28.02.2025)</a>
    </div>
    <p><h4 class="fw-semibold mb-3">Правила внутреннего распорядка обучающихся</h4></pp>
    <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/SNAxJsKRomkGx4M"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/SNAxJsKRomkGx4M">Приказ № 142-О от 25.04.2025 "Об утверждении Правил внутреннего распорядка обучающихся в ФГБОУ ВО "ХГПУ"</a>
    </div>
    <p><h4 class="fw-semibold mb-3">Правила внутреннего трудового распорядка</h4></p>
    <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/FBABZw4LC3PQC87"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href="https://cloud.hgpurf.ru/index.php/s/FBABZw4LC3PQC87"><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/FBABZw4LC3PQC87">Приказ № 42-О/5 от 19.06.2024 "Об утверждении Правил внутреннего трудового распорядка ФГБОУ ВО "ХГПУ"</a>
    </div>
    <p><h4 class="fw-semibold mb-3">Коллективный договор (при наличии)</h4></p>
    <h6>Не предусмотрен</h6>
    <p><h4 class="fw-semibold mb-3">Отчеты о результатах самообследования</h4></p>
    <h6>Отсутствуют</h6>
    <p><h4 class="fw-semibold mb-3">Локальные нормативные акты образовательной организации по основным вопросам организации и осуществления образовательной деятельности, предусмотренные №273-ФЗ, в том числе регламентирующие:</h4></p>
    <h5>Правила приема обучающихся</h5>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/ojJy9pRamG5875i"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/ojJy9pRamG5875i">Правила приема на обучение по образовательным программам высшего образования – программам бакалавриата, программам магистратуры в ФГБОУ ВО «Херсонский государственный педагогический университет» в 2025 году</a>
    </div>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/tEQQgMeCJdPpjH6"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/tEQQgMeCJdPpjH6">Правила приема на обучение по образовательным программам высшего образования – программам подготовки научных и научно-педагогических кадров в аспирантуре в ФГБОУ ВО "Херсонский государственный педагогический университет" в 2025 году</a>
    </div>
    <h5>Режим занятий обучающихся</h5>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/qE3RG8xCANyZXCx"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/qE3RG8xCANyZXCx">Положение о расписании учебных занятий и промежуточной аттестации в ФГБОУ ВО "Херсонский государственный педагогический университет" (25.04.2025 г.)</a>
    </div>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/apps/files/files/17027?dir=/Основной%20сайт%20ХГПУ/Сведения%20об%20ОО/Документы/д%29%20ЛНА/д.2%29%20ЛНА_Режим%20занятий%20обучающихся&openfile=true"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/apps/files/files/17027?dir=/Основной%20сайт%20ХГПУ/Сведения%20об%20ОО/Документы/д%29%20ЛНА/д.2%29%20ЛНА_Режим%20занятий%20обучающихся&openfile=true">Об особенностях организации и осуществления образовательного процесса в ФГБОУ ВО "ХГПУ" в осеннем семестре 2025-2026 учебного года с применением электронного обучения и дистанционных образовательных технологий (приказ №265-О от 27.08.2025 г.)</a>
    </div>
    <h5>Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</h5>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/rgYSHcd5NLXF98p"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/rgYSHcd5NLXF98p">Положение о текущем контроле успеваемости и промежуточной аттестации обучающихся по образовательным программам высшего образования – программам бакалавриата, специалитета и магистратуры в ФГБОУ ВО "Херсонский государственный педагогический университет" (приказ № 232/6-Э от 29.09.2023)</a>
    </div>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/iJDawxj9F54yJAz"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/iJDawxj9F54yJAz">Положение о текущем контроле успеваемости, промежуточной и итоговой аттестации аспирантов (приказ № 42-О/11 от 19.06.2024)</a>
    </div>
    <h5>Порядок и основания перевода, отчисления и восстановления обучающихся</h5>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/GeeFiE7CKqNctEQ"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/GeeFiE7CKqNctEQ">Положение о порядке перевода и восстановления обучающихся в ФГБОУ ВО "ХГПУ" (приказ № 145-О от 25.04.2025)</a>
    </div>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/FN2trr9cbN6CPZs"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/FN2trr9cbN6CPZs">Положение о порядке и основаниях предоставления академического и других видов отпусков обучающимся в ФГБОУ ВО "ХГПУ" (приказ № 273-О от 01.09.2025)</a>
    </div>
    <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/XDMK7qgxAXW5MRZ"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/XDMK7qgxAXW5MRZ">Положение о предоставлении аспирантам ФГБОУ ВО "ХГПУ" академического отпуска, отпуска по беременности и родам, отпуска по уходу за ребенком (приказ № 42-О/14 от 19.06.2024)</a>
    </div>
    <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href="https://cloud.hgpurf.ru/index.php/s/QCpPxmGzaA2XCSE"><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="https://cloud.hgpurf.ru/index.php/s/QCpPxmGzaA2XCSE">Положение о порядке отчисления обучающихся в ФГБОУ ВО "ХГПУ" (приказ № 144-О от 25.04.2025№ 144-О от 25.04.2025)</a>
    </div>
    <h5>Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся</h5>
        <div class="d-flex align-items-center gap-2 mb-5">
                <div class="d-flex gap-1">
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/pdf-icon.svg" alt=""></a>
                    <a href=""><img class="basic-info-icon" src="/static/bootstrap/img/icons/sig-icon.svg" alt=""></a>
                </div>
                <a class="basic-info-link" href="">В работе</a>
    </div>
    <p><h4 class="fw-semibold mb-3">Предписания органов, осуществляющих государственный контроль (надзор) в сфере образвования</h4>
    <h6>Отсутствуют</h6>
    <p><h4 class="fw-semibold mb-3">Отчеты об исполнении предписаний (до подтверждения органом, осуществляющим государственный контроль (надзор) в сфере образования, исполнения предписания или признания его недействительным в установленном законом порядке) (при наличии)</h4></p>
    <h6>Отсутствуют</h6>
</div>
{% endblock %}