{% extends 'base.html' %} {% load static %} {% block title %} Стипендии и меры
поддержки обучающихся {% endblock %} {% block content %}
<main class="main">
  <div class="container">
    <div class="py-4">
      <nav style="--bs-breadcrumb-divider: '»'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Университет</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Сведения об образовательной организации</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="">Стипендии и меры и поддержки обучающихся</a>
          </li>
        </ol>
      </nav>
    </div>
    <h2 class="mb-5 fw-bold fs-2 basic-info-title">
      Стипендии и меры поддержки обучающихся
    </h2>
    <div class="my-accordion pt-4">
      <details class="details yelow-divider" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-4">Федеральные нормативные акты</p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <ul>
            <li>
              <a
                class="link-color"
                href="http://government.ru/docs/all/109497/"
                target="_blank"
                >Постановление Правительства РФ от 17.12.2016 №1390 (с
                изменениями) «О формировании стипендиального фонда» (вместе с
                «Правилами формирования стипендиального фонда за счет бюджетных
                ассигнований федерального бюджета», «Нормативами для
                формирования стипендиального фонда за счет бюджетных
                ассигнований федерального бюджета»)</a
              >
            </li>
            <li>
              <a
                class="link-color"
                href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102423953&ysclid=mfk2y5l66g94582716"
                target="_blank"
                >Приказ Минобрнауки России от 27 декабря 2016 г. №1663 «Об
                утверждении Порядка назначения государственной академической
                стипендии и (или) государственной социальной стипендии
                студентам, обучающимся по очной форме обучения за счет бюджетных
                ассигнований федерального бюджета, государственной стипендии
                аспирантам, ординаторам, ассистентам-стажерам, обучающимся по
                очной форме обучения за счет бюджетных ассигнований федерального
                бюджета, выплаты стипендий слушателям подготовительных отделений
                федеральных государственных образовательных организаций высшего
                образования, обучающимся за счет бюджетных ассигнований
                федерального бюджета»</a
              >
            </li>
            <li>
              <a
                class="link-color"
                href="https://normativ.kontur.ru/document?moduleId=1&documentId=485674&ysclid=mfk2kgzoji850823186"
                target="_blank"
                >Положение о стипендии Правительства РФ (Постановление
                Правительства РФ от 23 декабря 2024 г. № 1861)</a
              >
            </li>
            <li>
              <a
                class="link-color"
                href="https://normativ.kontur.ru/document?moduleId=1&documentId=492579&ysclid=mfk2qoqvxi546268139"
                target="_blank"
                >Положение о назначении стипендии Президента РФ (Постановление
                Правительства РФ от 04.04.2025 № 430)</a
              >
            </li>
          </ul>
        </div>
      </details>
      <details class="details yelow-divider" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-4">
            Локальные нормативные акты -
            <span class="text-danger">дополнить!!!</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <ul>
            <li>
              <a
                class="link-color"
                href="https://cloud.hgpurf.ru/index.php/s/zrL2BJe5xiW8rMy?dir=/&openfile=true"
                target="_blank"
                >Положение о стипендиальном обеспечении и других формах
                материальной поддержки обучающихся ФГБОУ ВО "Херсонский
                государственный педагогический университет" (приказ №40-О/1 от
                28.02.2025)"</a
              ><span> | ЭП</span>
            </li>
            <li>
              <a
                class="link-color"
                href="https://cloud.hgpurf.ru/index.php/s/6RyYT5zkEj3wCKw?dir=/&openfile=true"
                target="_blank"
                >Приказ об установлении размеров государственной академической
                стипендии и государственной социальной стипендии студентам ФГБОУ
                ВО "ХГПУ" (приказ №282-О/1 от 01.09.2025)</a
              ><span> | ЭП</span>
            </li>
          </ul>
          <p class="text-danger mb-0">Примеры локальных нормативных актов:</p>
          <ul class="text-danger">
            <li>
              приказ образовательной организации о создании стипендиальной
              комиссии;
            </li>
            <li>
              положение о стипендиальной комиссии образовательной организации;
            </li>
          </ul>
        </div>
      </details>
      <details class="details yelow-divider" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-4">
            Информация о наличии и условиях предоставления стипендий
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <a
            class="link-color fw-bold"
            href="https://cloud.hgpurf.ru/index.php/s/zrL2BJe5xiW8rMy?openfile=true"
            target="_blank"
            >Положение о стипендиальном обеспечении и других формах материальной
            поддержки обучающихся ФГБОУ ВО "ХГПУ"</a
          >
          <p class="fw-bold">
            определяет порядок назначения и выплаты следующих видов стипендий:
          </p>
          <ul>
            <li>
              государственные академические стипендии студентам, в том числе
              повышенные государственные академические стипендии
            </li>
            <li>
              государственные социальные стипендии студентам, в том числе
              государственные социальные стипендии в повышенном размере
            </li>
            <li>государственные стипендии аспирантам</li>
            <li>
              стипендии слушателям подготовительных отделений в случаях,
              предусмотренных законодательством РФ
            </li>
            <li>стипендии Президента РФ и стипендии Правительства РФ</li>
          </ul>
        </div>
      </details>
      <details class="details yelow-divider" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-4">
            Информация о мерах социальной поддержки обучающихся -
            <span class="text-danger">уточнить: молодые семьи</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <p class="fw-bold">
            В университете устанавливаются следующие меры социальной поддержки:
          </p>
          <ol>
            <li>
              Возможность получать государственные социальные стипендии (при
              наличии подтверждающих документов)
            </li>
            <li>
              Оказание материальной поддержки обучающимся по очной форме
              обучения, оказавшимся в трудной жизненной ситуации
            </li>
          </ol>
          <p>
            Оказание материальной поддержки студентам осуществляется в виде
            выплаты материальной помощи или материальной поддержки и
            регулируется
            <a
              class="link-color"
              href="https://cloud.hgpurf.ru/index.php/s/zrL2BJe5xiW8rMy?openfile=true"
              target="_blank"
              >Положением о стипендиальном обеспечении и других формах
              материальной поддержки обучающихся ФГБОУ ВО "ХГПУ".</a
            >
          </p>
          <p class="fw-bold">
            Организация ЕДИНОГО ОКНА по поддержке молодых студенческих семей
          </p>
          <ul>
            <li>
              <a
                class="link-color"
                href="https://chuvgpu.ru/sveden/grants/#"
                target="_blank"
                >ПРИКАЗ об организации ЕДИНОГО ОКНА по поддержке молодых
                студенческих семей</a
              >
              <span class="text-danger">
                - пример документа (Орленко Е.В.)</span
              >
            </li>
          </ul>
        </div>
      </details>
      <details class="details yelow-divider" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-4">
            Количество жилых помещений в общежитии/интернате, приспособленных
            для использования инвалидами и лицами с ОВЗ
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table w-100">
            <tbody>
              <tr>
                <td class="p-3 w-75">Наименование показателя</td>
                <td class="p-3">Общежития</td>
                <td class="p-3">Интернаты</td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">Количество общежитий/интернатов</td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">Количество мест</td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">
                  Количество жилых помещений, приспособленных для использования
                  инвалидами и лицами с ОВЗ
                </td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</main>
{% endblock %}
