{% extends 'base.html' %}
{% load static %}
{% block title %}Международное сотрудничество{% endblock %}
{% block content %}
      <main class="main">
        <div class="px-4 pt-3">
          <div class="container">
            <div class="py-4">
              <nav
                style="--bs-breadcrumb-divider: '>>'"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{%url 'main'%}">Главная</a></li>
                  <li class="breadcrumb-item" aria-current="page">
                    <a href="{%url 'main'%}">Университет</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{%url 'sveden'%}">Сведения об образовательной организации</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{%url 'inter'%}">Международное сотрудничество</a>
                  </li>
                </ol>
              </nav>
            </div>
            <h2 class="mb-5 fw-bold fs-2 basic-info-title">
              Международное сотрудничество
            </h2>
            <h4 class="mb-5">
            Информация о заключённых и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки
            </h4>
            <!-- Информация о руководителе образовательной организации-->
            <table class="accordion-table table-bordered table-bd w-100 mb-5" itemprop="internationalDog">
                    <tbody>
                      <tr>
                        <td class="p-3">№</td>
                        <td class="p-3" itemprop="stateName">Государство</td>
                        <td class="p-3" itemprop="orgName">Наименование организации</td>
                        <td class="p-3" itemprop="dogReg">Реквизиты договора (наименование, дата, номер, срок действия)</td>
                      </tr>
                      <tr>
                        <td class="p-3">Отсутствует</td>
                        <td class="p-3">Отсутствует</td>
                        <td class="p-3">Отсутствует</td>
                        <td class="p-3">Отсутствует</td>
                      </tr>
                    </tbody>
                  </table>
          </div>
        </div>
      </main>
{% endblock %}