{% extends 'base.html' %} 
{% load static %} 
{% block title %}Медиапедагогика{% endblock %} 
{% block content %}
<main class="main">
  <div class="px-4 py-3">
    <div
      class="d-flex align-items-center justify-content-center mediapedagogika-baner position-relative overflow-hidden">
      <div class="media-banner-overlay"></div>
      <h1 class="edu-info-title w-75 mb-0 z-3">Медиапедагогика</h1>
    </div>
  </div>
  <div class="mediaped-section bg-light">
    <div class="container">
        <h1 class="mb-5 fw-semibold">Медиапедагогика</h1>
        <div class="row px-2">
            <div class="col px-0 bg-white">
                <div class="card h-100 rounded-0 border border-0">
                    <div class="card-body d-flex">
                        <h5 class="px-4 card-title align-self-center fw-semibold">Навигатор нравственности для детей и молодежи</h5>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card h-100 rounded-0 border border-0 position-relative triangle-right">
                    <img src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-1.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
            </div>
            <div class="col px-0 bg-white">
                <div class="card h-100 rounded-0 border border-0">
                    <div class="card-body d-flex">
                        <h5 class="px-4 card-title align-self-center fw-semibold">Дополнительный кейс к программе дисциплин «психолого-педагогических классов»</h5>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card h-100 rounded-0 border border-0 position-relative triangle-right">
                    <img src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-2.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
            </div>
        </div>
        <div class="row px-2">
            <div class="col px-0">
                <div class="card h-100 rounded- border border-0 position-relative triangle-left">
                    <img src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-3.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
            </div>
            <div class="col px-0 bg-white">
                <div class="card h-100 rounded-0 border border-0">
                    <div class="card-body d-flex">
                        <h5 class="px-4 card-title align-self-center fw-semibold">Видеоконтент к «Разговорам о важном» в рамках программы наставничества «студент-школьник»</h5>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card h-100 rounded-0 border border-0 position-relative triangle-left">
                    <img src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-4.webp' %}" class="card-img-top rounded-0" alt="...">
                </div>
            </div>
            <div class="col px-0 bg-white">
                <div class="card h-100 rounded-0 border border-0">
                    <div class="card-body d-flex">
                        <h5 class="px-4 card-title align-self-center fw-semibold">Сфера для прикладного педагогического творчества наших студентов</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="mediaped-section-targ">
    <div class="container">
        <div class="row px-2 gap-4">
            <div class="col px-0 rounded overflow-hidden">
                <div class="row">
                    <div class="col d-grid row-gap-4">
                        <div class="row">
                            <div class="col">
                                <img class="w-100 rounded" src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-targ-1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img class="w-100 rounded" src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-targ-2.webp' %}" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <img class="w-100 rounded" src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-targ-3.webp' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col px-0 rounded mediaped-target-text">
                <div class="py-5 px-5">
                    <h2 class="mb-4 fw-bold">
                        Цель проекта
                    </h2>
                    <p class="mb-5 fs-4">
                        популяризация и актуализация в детско-юношеской среде социально значимых, духовно-нравственных смыслов
                    </p>
                    <div class="mb-4 w-25 border-bottom border-white"></div>
                    <p class="fw-bold fs-4">
                        Основные ценности:
                    </p>
                    <ul class="fs-4">
                        <li>Родина</li>
                        <li>семья</li>
                        <li>историческая память</li>
                        <li>милосердие</li>
                        <li>труд</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="mediaped-section-kino">
    <div class="container">
        <div class="d-flex w-100 position-relative">
            <div class="mediaped-kino-card">
                <h1 class="fw-semibold fs-1">
                    Киностудия ХГПУ
                </h1>
                <p class="mb-5 fs-5">
                    Киностудия ХГПУ успешно развивает проект остросоциальной значимости: МЕДИАПЕДАГОГИКА
                </p>
                <div>
                    <a href="" class="mediaped-kino-link">
                        Подробнее
                    </a>
                </div>
            </div>
            <div class="w-100">
                <img src="{% static 'bootstrap/img/mediapedagogika/mediapedagogika-kinostudia.webp' %}" class="mediaped-kino-img" alt="...">
            </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}
