{% extends 'base.html' %} {% load static %} {% block title %}
Материально-техническое обеспечение и оснащённость образовательного процесса.
Доступная среда. {% endblock %} {% block content %}
<main class="main">
  <div class="container">
    <div class="py-4">
      <nav style="--bs-breadcrumb-divider: '»'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Университет</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="">Сведения об образовательной организации</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href=""
              >Материально-техническое обеспечение и оснащённость
              образовательного процесса. Доступная среда.</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <h2 class="mb-5 fw-bold fs-2 basic-info-title">
      Материально-техническое обеспечение и оснащённость образовательного
      процесса. Доступная среда.
    </h2>
    <p class="fw-semibold fs-4 mb-1">
      Информация о материально-техническом обеспечении образовательной
      деятельности, в том числе в отношении инвалидов и лиц с ограниченными
      возможностями здоровья:
    </p>
    <div class="my-accordion pt-4">
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии оборудованных учебных кабинетов -
            <span class="text-danger">нет инфо</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table objects">
            <tbody>
              <tr>
                <td class="p-3 w-25">Адрес места нахождения</td>
                <td class="p-3 w-25">
                  Наименование оборудованного учебного кабинета
                </td>
                <td class="p-3 w-25">
                  Оснащенность оборудованного учебного кабинета
                </td>
                <td class="p-3 w-25">
                  Приспособленность для использования инвалидами и лицами с ОВЗ
                </td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии оборудованных объектов для проведения
            практических занятий - <span class="text-danger">нет инфо</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table objects">
            <tbody>
              <tr>
                <td class="p-3 w-25">Адрес места нахождения</td>
                <td class="p-3 w-25">
                  Наименование объекта для проведения практических занятий
                </td>
                <td class="p-3 w-25">
                  Оснащенность объекта для проведения практических занятий
                </td>
                <td class="p-3 w-25">
                  Приспособленность для использования инвалидами и лицами с ОВЗ
                </td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии оборудованных библиотек -
            <span class="text-danger">нет инфо</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table objects w-100">
            <tbody>
              <tr>
                <td class="p-3">Наименование объекта</td>
                <td class="p-3">Адрес места нахождения</td>
                <td class="p-3">Площадь, м2</td>
                <td class="p-3">Количество мест</td>
                <td class="p-3 w-25">
                  Приспособленность для использования инвалидами и лицами с ОВЗ
                </td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии оборудованных объектов спорта -
            <span class="text-danger">нет инфо</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table objects w-100">
            <tbody>
              <tr>
                <td class="p-3">Наименование объекта</td>
                <td class="p-3">Адрес места нахождения</td>
                <td class="p-3">Площадь, м2</td>
                <td class="p-3">Количество мест</td>
                <td class="p-3 w-25">
                  Приспособленность для использования инвалидами и лицами с ОВЗ
                </td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3">-</td>
                <td class="p-3 w-25">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии оборудованных средств обучения и воспитания -
            <span class="text-danger">ТЕКСТ!!</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit praesent luptatum zzril delenit augue duis dolore te feugait
            nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum
            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
            odio dignissim qui blandit praesent luptatum zzril delenit augue
            duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta
            nobis eleifend option congue nihil imperdiet doming id quod mazim
            placerat facer
          </p>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о доступе к информационным системам и
            информационно-телекоммуникационным сетям -
            <span class="text-danger">ТЕКСТ!!</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit praesent luptatum zzril delenit augue duis dolore te feugait
            nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
            ex ea commodo consequat. Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse molestie consequat, vel illum
            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
            odio dignissim qui blandit praesent luptatum zzril delenit augue
            duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta
            nobis eleifend option congue nihil imperdiet doming id quod mazim
            placerat facer
          </p>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения об электронных образовательных ресурсах, к которым
            обеспечен доступ обучающихся -
            <span class="text-danger">Текст, ссылки + ЭИОС</span>
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <p class="fw-bold">ЭИОС</p>
          <p>
            Реализация образовательных программ, организация учебного процесса в
            ФГБОУ ВО "ХГПУ" обеспечивается с использованием электронной
            информационно-образовательной среды (привести ссылку на Положение).
          </p>
          <span class="text-danger"
            >НАДО НАПИСАТЬ И УТВЕРДИТЬ АНАЛОГИЧНЫЙ документ "Положение об ЭИОС
            ФГБОУ ВО "ХГПУ"". Примеры:</span
          >
          <ul>
            <li>
              <a
                class="link-color"
                target="_blank"
                href="https://www.herzen.spb.ru/upload/medialibrary/dca/Poryadok-ob-elektronnoy-informatsionno_obrazovatelnoy-srede.pdf"
                >Порядок функционирования электронной
                информационно-образовательной среды РГПУ им. А. И. Герцена
                (утвержден на заседании президиума ученого совета университета
                от 18.02.2019, протокол № 6)</a
              >
            </li>
            <li>
              <a
                class="link-color"
                target="_blank"
                href="https://www.herzen.spb.ru/upload/medialibrary/dca/Poryadok-ob-elektronnoy-informatsionno_obrazovatelnoy-srede.pdf"
                >Положение об ЭИОС КФУ им.Вернадского</a
              >
            </li>
          </ul>
          <p>
            Электронная информационно-образовательная среда (ЭИОС) включает в
            себя информационные технологии, технические средства, электронные
            информационные ресурсы, электронные образовательные ресурсы, которые
            содержат электронные учебно-методические материалы, а также включает
            в себя государственные информационные системы в случаях,
            предусмотренных
            <a
              class="link-color"
              target="_blank"
              href="https://login.consultant.ru/link/?req=doc&base=LAW&n=470336&dst=713"
              >частью 3.1</a
            >
            ФЗ от 29.12.2012 N 273-ФЗ "Об образовании в Российской Федерации", и
            обеспечивает освоение обучающимися образовательных программ в полном
            объеме независимо от места нахождения обучающихся (ст. 16. ФЗ "Об
            образовании в Российской Федерации" от 29.12.2012 № 273-ФЗ).
          </p>
          <p>
            <span class="fw-bold"
              >Сведения об электронных ресурсах, к которым обеспечивается доступ
              обучающихся, в том числе инвалидов и лиц с ОВЗ</span
            >
            (рекомендуется подавать в виде ссылок):
          </p>
          <ul>
            <li>
              <a class="link-color" target="_blank" href=""
                >Министерство просвещения Российской Федерации</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Министерство науки и высшего образования Российской
                Федерации</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Федеральная служба по надзору в сфере образования и науки</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Федеральный портал "Российское образование"</a
              >
            </li>
          </ul>
          <p class="fw-bold">Электронные библиотечные системы и ресурсы</p>
          <ul>
            <li>
              <p>ЭБС "___" (по подписке)</p>
            </li>
            <li>
              <p>ЭБС "___"</p>
            </li>
          </ul>
          <p class="fw-bold">
            ЭОР, приспособленные для использования инвалидами и лицами с ОВЗ
          </p>
          <ul>
            <li>
              <a class="link-color" target="_blank" href=""
                >Аудиоучебники на платформе электронно-библиотечной системы
                (ЭБС) Университетская библиотека онлайн</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Мобильное приложение ЭБС "Лань" с возможностью навигации и
                чтения текстов с помощью экранного диктора</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Проект "Аудиоучебник" по озвучиванию учебных изданий</a
              >
            </li>
            <li>
              <a class="link-color" target="_blank" href=""
                >Совместная волонтерская программа РГПУ им. А. И. Герцена и
                издательства "Лань" "Сделаем книгу доступной для незрячих"</a
              >
            </li>
          </ul>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о количестве жилых помещений в общежитии, интернате,
            формировании платы за проживание в общежитии
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <table class="accordion-table objects w-100">
            <tbody>
              <tr>
                <td class="p-3 w-75">Наименование показателя</td>
                <td class="p-3">Общежития</td>
                <td class="p-3">Интернаты</td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">Количество общежитий/интернатов</td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
              <tr class="tr-dark">
                <td class="p-3">Количество мест</td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
              <tr class="tr-light">
                <td class="p-3">
                  Количество жилых помещений, приспособленных для использования
                  инвалидами и лицами с ОВЗ
                </td>
                <td class="p-3">Отсутствует</td>
                <td class="p-3">Отсутствует</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
    <p class="fw-semibold fs-4 py-4 mb-0">
      Информация о специальных условиях для получения образования инвалидами и
      лицами с ОВЗ:
    </p>
    <div class="my-accordion pt-4">
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения об обеспечении доступа в здания образовательной
            организации, в т.ч. в общежитие, интернат, приспособленных для
            использования инвалидам и лицам с ОВЗ
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <ul>
            <li>Поручни на наружной лестнице</li>
            <li>Пандусы</li>
            <li>Высота порогов не более 0,014 м</li>
            <li>
              Вывески с названием организации, графиком работы организации,
              выполненных рельефно-точечным шрифтом Брайля и на контрастном фоне
            </li>
            <li>Тактильно-контрастные указатели</li>
            <li>Контрастная маркировка стеклянных дверей</li>
            <li>Контрастная маркировка ступеней лестничных маршей</li>
            <li>
              Система информационного оповещения для лиц с нарушением слуха и
              зрения
            </li>
            <li>Кнопка вызова помощника для инвалидов</li>
            <li>Увеличенные дверные проёмы</li>
            <li>Достаточный размер входной площади с пандусом</li>
            <li>
              План здания, выполненный рельефно-точечным шрифтом Брайля
              (Тактильная разметка для обеспечения навигации)
            </li>
            <li>Мобильные гусеничные подъемники</li>
            <li>Специально обученный персонал</li>
            <li>Сменные кресла-коляски</li>
            <li>
              Таблички с обозначением аудиторий и помещений, выполненные
              рельефно-точечным шрифтом Брайля
            </li>
            <li>
              Выделенные учебные места в аудиториях с учетом вида нарушений
              здоровья
            </li>
            <li>Выделенные стоянки автотранспортных средств для инвалидов</li>
          </ul>
        </div>
      </details>
      <details class="details" name="basic-info-accordion">
        <summary class="details-title">
          <p class="fw-semibold fs-5">
            Сведения о наличии специальных технических средств обучения
            коллективного и индивидуального пользования инвалидов и лиц с ОВЗ
          </p>
          <i class="fa-solid fa-angle-down fa-2xl my-accordion-icon"></i>
        </summary>
        <div class="details-content">
          <ul>
            <li>
              Программы озвучивания текста на экране монитора VIRGO 4, NVDA,
              JAWS;
            </li>
            <li>
              Портативные индукционные петли («Сонет-РСМ" РМ - 3-1», «Сонет-РСМ"
              РМ - 7-1» );
            </li>
            <li>
              Возможность печати учебного материала рельефно-точечным шрифтом
              Брайля на принтере «Index Pro»;
            </li>
            <li>
              Организованы 3 рабочих места для студентов с нарушениями зрения и
              2 рабочих места для студентов с нарушениями опорно-двигательного
              аппарата (НОДА).
            </li>
          </ul>
        </div>
      </details>
    </div>
  </div>
</main>
{% endblock %}
