{% extends 'base.html' %}
{% load static %}
{% block title %}Сведения об образовательной организации{% endblock %}
{% block content %}
      <main class="main">
        <div class="px-4 pt-3">
          <div
            class="d-flex align-items-center justify-content-center edu-banner"
          >
            <h1 class="edu-info-title w-75 mb-0">
              Сведения об образовательной организации
            </h1>
          </div>
          <div class="container">
            <div class="py-4">
              <nav
                style="--bs-breadcrumb-divider: '>>'"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{%url 'main'%}">Главная</a></li>
                  <li class="breadcrumb-item" aria-current="page">
                    <a href="{%url 'main'%}">Университет</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="{%url 'sveden'%}">Сведения об образовательной организации</a>
                  </li>
                </ol>
              </nav>
            </div>
            <h2 class="mb-4 fw-bold fs-2">
              Сведения об образовательной организации
            </h2>
            <p class="pt-3 regulatory-documents d-inline-block">
              <a
                class=""
                data-bs-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Информация размещена во исполнение и в соответствии с
                нормативными документами
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <ul class="regulatory-documents-list">
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=500648&ysclid=mfcqucp0tk318799088#h6946" target="_blank"
                    >Федеральный закон от 29.12.2012 № 273-ФЗ "Об образовании в
                    Российской Федерации"</a
                  >
                  <span
                    >(Статья 29. Информационная открытость образовательной
                    организации)</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=457031&ysclid=mfcr4pb63f996718370" target="_blank"
                    >Постановление Правительства РФ от 20.10.2021 N 1802
                  </a>
                  <span
                    >"Об утверждении Правил размещения на официальном сайте
                    образовательной организации в
                    информационно-телекоммуникационной сети "Интернет" и
                    обновления информации об образовательной организации, а
                    также о признании утратившими силу некоторых актов и
                    отдельных положений некоторых актов Правительства Российской
                    Федерации'</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=460884&ysclid=mfcr5tu2vh444311010" target="_blank">Приказ Рособрнадзора от 04.08.2023 №1493</a>
                  <span
                    >"Об утверждении Требований к структуре официального сайта
                    образовательной организации в
                    информационно-телекоммуникационной сети "Интернет" и формату
                    представления информации"</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=482526&ysclid=mfcqc96y1b509783364" target="_blank"
                    >Официальные разъяснения обязательных требований по
                    соблюдению образовательными организациями требований
                    законодательства РФ в сфере образования в части
                    информационной открытости образовательной организации</a
                  >
                  <span>(утв. Рособрнадзором 11.11.2024)</span>
                </li>
                <li>
                  <a href="https://obrnadzor.gov.ru/wp-content/uploads/2024/09/metodicheskie-rekomendaczii-predstavleniya-informaczii-ob-obrazovatelnoj-or....pdf" target="_blank"
                    >Методические рекомендации представления информации об
                    образовательной организации в открытых источниках с учетом
                    соблюдения требований законодательства в сфере образования
                    (размещено на сайте Рособрнадзора 03.09.2024)</a
                  >
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column gap-4 py-4 mb-4">
              <div class="row gap-4">
                <a href="{%url 'common'%}" class="col-4 edu-info-btn"> Основные сведения </a>
                <a href="{%url 'struct'%}" class="col edu-info-btn">
                  Структура и органы управления образовательной организацией
                </a>
              </div>
              <div class="row gap-4">
                <a href="{%url 'document'%}" class="col-3 edu-info-btn"> Документы </a>
                <a href="{%url 'education'%}" class="col-3 edu-info-btn"> Образование </a>
                <a href="{%url 'eduStandarts'%}" class="col edu-info-btn">
                  Образовательные стандарты и требования
                </a>
              </div>
              <div class="row gap-4">
                <a href="{%url 'managers'%}" class="col-5 edu-info-btn"> Руководство </a>
                <a href="{%url 'employees'%}" class="col edu-info-btn"> Педагогический состав </a>
              </div>
              <div class="row">
                <a href="{%url 'objects'%}" class="col edu-info-btn">Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</a>
              </div>
              <div class="row gap-4">
                <a href="{%url 'paid_edu'%}" class="col edu-info-btn">Платные образовательные услуги</a>
                <a href="{%url 'grants'%}" class="col edu-info-btn">Стипендии и меры поддержки обучающихся</a>
              </div>
              <div class="row gap-4">
                <a href="{%url 'budget'%}" class="col-5 edu-info-btn">Финансово-хозяйственная деятельность</a>
                <a href="{%url 'vacant'%}" class="col edu-info-btn">Вакантные места для приема (перевода) обучающихся</a>
              </div>
              <div class="row gap-4">
                <a href="{%url 'inter'%}" class="col-5 edu-info-btn">Международное сотрудничество</a>
                <a href="{%url 'catering'%}" class="col edu-info-btn">Организация питания в образовательной организации</a>
              </div>
            </div>
          </div>
        </div>
      </main>
{% endblock %}