{% extends 'base.html' %}
{% load static %}
{% block title %}Вакантные места для приема (перевода)
обучающихся{% endblock %}
{% block content %}
<!--05.03.06 Экология и природопользование-->
<table class="table table-scroll table-striped accordion-table table-bordered table-bd w-100 h-20 mb-5">
    <thead>
        <tr>
            <td class="p-3">Наименование ОП</td>
            <td class="p-3">Ссылка на описание ОП (год начала реализации ОП)</td>
            <td class="p-3">Форма обучения</td>
            <td class="p-3">Нормативный срок обучения</td>
            <td class="p-3">Ссылка на учебный план</td>
            <td class="p-3">Ссылка на календарный учебный график</td>
            <td class="p-3">Ссылка на рабочие программы дисциплин</td>
            <td class="p-3">Ссылка на рабочие программы практик</td>
            <td class="p-3">Ссылка на методические и иные документы, на рабочую программу воспитания и календарный план воспитательной работы</td>
            <td class="p-3">Информация об использовании при реализации ОП электронного обучения и ДОТ</td>
        </tr>
    </thead>
    <tbody>
        <tr itemprop="eduOp">
            <td class="p-3" itemprop=”eduName” rowspan="4">Геоэкология</td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/1_Описание%20ОП" itemprop="opMain">
                    2025
                </a>
            </td>
            <td class="p-3" itemprop="eduForm">Заочная</td>
            <td class="p-3">4 года 6 месяцев</td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/2_УП" itemprop="educationPlan">
                    УП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/3_КУГ" itemprop="educationShedule">
                    КУГ
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/4_РПД" itemprop="educationRpd">
                    РПД
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/5_РПП" itemprop="eduPr">
                    РПП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/6_ММ" itemprop="methodology">
                    ММ
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2025_Геоэкология/7_ГИА" itemprop="methodology">
                    Программа ГИА
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/xHMtbRzb7KpstfR?dir=/РПВ_2025" itemprop="methodology">
                    РПВ
                </a>
            </td>
            <td class="p-3">Да</td>
        </tr>
        <tr itemprop="eduOp">
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/1_Описание%20ОП" itemprop="opMain">
                    2024
                </a>
            </td>
            <td class="p-3" itemprop="eduForm">Заочная</td>
            <td class="p-3">4 года 6 месяцев</td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/2_УП" itemprop="educationPlan">
                    УП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/3_КУГ" itemprop="educationShedule">
                    КУГ
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/4_РПД" itemprop="educationRpd">
                    РПД
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/5_РПП" itemprop="eduPr">
                    РПП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/6_ММ" itemprop="methodology">
                    ММ
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/xHMtbRzb7KpstfR?dir=/РПВ_2024" itemprop="methodology">
                    ПрограммаГИА
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2024_Геоэкология/6_ММ" itemprop="methodology">
                    РПВ
                </a>
            </td>
            <td class="p-3">Да</td>
        </tr>
        <tr itemprop="eduOp">
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/1_Описание%20ОП" itemprop="opMain">
                    2023
                </a>
            </td>
            <td class="p-3" itemprop="eduForm">Заочная</td>
            <td class="p-3">4 года 6 месяцев</td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/2_УП" itemprop="educationPlan">
                    УП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/3_КУГ" itemprop="educationShedule">
                    КУГ
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/4_РПД" itemprop="educationRpd">
                    РПД
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/5_РПП" itemprop="eduPr">
                    РПП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/6_ММ" itemprop="methodology">
                    ММ
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/xHMtbRzb7KpstfR?dir=/РПВ_2023" itemprop="methodology">
                    ПрограммаГИА
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2023_Геоэкология/6_ММ" itemprop="methodology">
                    РПВ
                </a>
            </td>
            <td class="p-3">Да</td>
        </tr>
        <tr itemprop="eduOp">
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/1_Описание%20ОП" itemprop="opMain">
                    2022
                </a>
            </td>
            <td class="p-3" itemprop="eduForm">Заочная</td>
            <td class="p-3">4 года 6 месяцев</td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/2_УП" itemprop="educationPlan">
                    УП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/3_КУГ" itemprop="educationShedule">
                    КУГ
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/4_РПД" itemprop="educationRpd">
                    РПД
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/5_РПП" itemprop="eduPr">
                    РПП
                </a>
            </td>
            <td class="p-3">
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/6_ММ" itemprop="methodology">
                    ММ
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/dr7Lop3AZqZaBqZ?dir=/2022_Геоэкология/7_ГИА" itemprop="methodology">
                    ПрограммаГИА
                </a>
                <br>
                <a href="https://cloud.hgpurf.ru/index.php/s/xHMtbRzb7KpstfR?dir=/РПВ_2022" itemprop="methodology">
                    РПВ
                </a>
            </td>
            <td class="p-3">Да</td>
        </tr>                
    </tbody>
</table>
{% endblock %}