{% extends 'base.html' %} {% load static %} {% block title %}Блог
ректора{%endblock %} {% block content %}
<main class="main">
  <div class="px-4 py-3">
    <div class="blog-rektora-baner"></div>
  </div>
  <div class="container">
    <div class="rector-mg-wrap">
      <img
        src="{% static 'bootstrap/img/blog-rectora/rector-photo.jpg' %}"
        alt="rector-photo"
        class="rector-img"
      />
    </div>
    <div class="py-3 text-center">
      <h1 class="fw-semibold">Блог ректора</h1>
      <p class="fw-semibold fs-2">
        Херсонского государственного педагогического университета
      </p>
      <p class="mb-4">ШАШКОВА Нина Игоревна</p>
      <a href="https://t.me/n_i_shashkova" class="glare-link"
        >Подписаться на телеграм-канал ректора</a
      >
    </div>
  </div>
  <div class="px-4 py-3">
    <div class="blog-rektora-second-baner position-relative overflow-hidden">
      <div class="media-banner-overlay"></div>
      <div class="container py-5 h-100 d-flex align-items-end">
        <div class="py-5 z-3">
          <div class="mb-4 rector-second-banner-text">
            <p class="mb-0 fw-semibold fs-2 lh-sm">
              Хотелось бы выразить благодарность ...
            </p>
          </div>
          <div>
            <p class="d-inline-block mb-0 p-3 bg-white">#Блог ректора</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-5">
          <p class="fw-semibold fs-4">
            Один из главных приоритетов государственной политики в сфере
            образования и здравоохранения - привлечение в отрасль молодых
            специалистов.
          </p>
        </div>
        <div class="col">
          <p class="fs-5">
            Очевидно, что немаловажный фактор в выборе профессии – авторитетное
            мнение или жизненная позиция <span class="fw-bold">родителей</span>.
            Но ведь потом, когда уже у студента появились «некоторые сомнения»,
            усталость или пропало вдохновение – родители (и, часто, только
            <span class="fw-bold">они</span>!) могут поддержать остаться в ключе
            выбранной профессии. Найдут нужные слова, ключ к пониманию своей
            миссии, просто обнимут и будут сопереживать. Знают ли такие
            родители, что они выполняют важное государственное задание?
            Наверное, не вполне даже осознают!
          </p>
        </div>
      </div>
      <p class="fs-5">
        Довести до выпуска и трудоустройства по профессии педагога или врача –
        это победа не просто одной семьи, это - победа уровня государственной
        важности. Низкий поклон <span class="fw-bold">всем родителям</span>,
        которые помогают своим детям сделать выбор в пользу общественно важных
        профессий (учителя, врача, полицейского, военного, инженера и др.),
        утверждают их в важности служения людям и государству!
      </p>
      <div class="py-5 position-relative">
        <div class="position-relative rector-green-bg-text nebo nebo--bl">
          <div class="row">
            <div class="col mb-4">
              <p class="mb-0 fst-italic fs-4 text-white">
                Моя дочь выбрала профессию врача. Сегодня у нее первый день
                практики в реанимации. Сложно ребенку так близко увидеть грань
                между жизнью и смертью… Первая реакция – «Мама, я не смогу это
                видеть!». Обычно нужен разговор. Убеждение в важности принятой
                миссии – спасать людей. Буквально через час после беседы - я
                слышу: «Мама, я остаюсь, именно в этом отделении!» (небольшими
                шагами – к победе над неуверенностью).
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <div class="col">
              <p class="mb-0 pt-3 fst-italic fs-4 text-white">
                Сыну 11 лет. Хочет стать УЧИТЕЛЕМ химии. С детства поддерживаем
                его инициативу – БЫТЬ наставником. Моя бабушка была учителем
                физики в школе...безусловно,
                <span class="fw-bold"
                  >это - семейная преемственность профессии, наша педагогическая
                  династия.</span
                >
              </p>
            </div>
          </div>
        </div>
        <img
          class="nebo-rector-img"
          src="{% static 'bootstrap\img\blog-rectora\rector-1.webp' %}"
          alt=""
        />
      </div>
      <div>
        <div class="mb-4 red-section-divider-lg"></div>
        <p class="mb-1 fs-5">
          Очень важно, чтобы и Университет, как единое сообщество, поддерживал
          своих ребят до момента трудоустройства и даже после!
        </p>
        <p class="fw-bold fs-5">Это – наше служение Государству и обществу.</p>
        <div class="py-4 px-4 d-flex gap-3">
          <img
            class="reqtor-q-icon"
            src="{% static 'bootstrap/img/icons/rector-q.svg' %}"
            alt=""
          />
          <div class="w-75">
            <p class="mb-4 fw-bold fs-5">
              Родители, бабушки и дедушки наших абитуриентов и студентов,
              огромная ВАМ благодарность за ответственную гражданскую позицию!
            </p>
            <p>
              <span class="fw-bold">ШАШКОВА Нина Игоревна,</span> Ректор ХГПУ
            </p>
          </div>
        </div>
      </div>
      <div
        class="py-4 d-flex align-items-center justify-content-center gap-5 mb-4"
      >
        <div class="w-100 rector-logo-line"></div>
        <img
          src="{% static 'bootstrap\img\blog-rectora\rector-blog-logo.webp' %}"
          alt=""
          class="d-block rounded"
        />
        <div class="w-100 rector-logo-line"></div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-body-secondary">
    <div class="container">
      <h1 class="mb-5 fw-semibold">Ректорские заметки</h1>
      <div class="mb-5 row row-cols-md-4 g-4">
        <div class="col-3">
          <a href="" class="card-link rounded">
            <div class="card h-100">
              <img
                src="{% static 'bootstrap/img/posts_photo/rector-post-1.webp' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body px-4 py-4">
                <h5 class="card-title">
                  ИИ против ИИ: китайские студенты учатся обходить детекторы
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3">
          <a href="" class="card-link rounded">
            <div class="card h-100">
              <img
                src="{% static 'bootstrap/img/posts_photo/rector-post-2.webp' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body px-4 py-4">
                <h5 class="card-title">
                  ИИ усиливает нарциссизм и тревожность у студентов творческих
                  профессий
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
