{% extends 'base.html' %} {% load static %} {% block title %}
ХГПУ Медиа{% endblock %} 
{% block content %}
<main class="main">
  <div class="container">
    <div class="py-4">
      <nav style="--bs-breadcrumb-divider: '>>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'main'%}">Главная</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="{%url 'main'%}">ХГПУ Медиа</a>
          </li>
        </ol>
      </nav>
    </div>
    <h3 class="fw-bold text-uppercase fs-5">
      Херсонский государственный педагогический университет <br />
      в медиапространстве
    </h3>
    <p class="fs-5">
      Наш университет занимает активную позицию в современном информационном
      пространстве, формируя свою репутацию благодаря успешной интеграции
      образовательных процессов, научных исследований и публичной деятельности в
      цифровой среде.
    </p>
    <p class="fs-5">
      Мы стремимся стать лидером информационного пространства среди
      педагогических университетов страны, обеспечивая высокий уровень
      взаимодействия с широкой общественностью посредством современных
      технологий коммуникации и распространения информации.
    </p>
    <p class="mb-5 fs-5">
      Об успехах в этой деятельности свидетельствуют признание и высокие
      показатели <strong>медиарейтинга</strong> среди педагогических
      университетов России, демонстрирующие постоянное присутствие университета
      в "зеленой зоне" <strong>ТОП-5</strong>
      медиарейтинга.
    </p>
    <h3 class="mb-4 fw-bold fs-5">МЕДИАактивность ХГПУ</h3>
    <p class="fw-semibold fs-5">
      Передовые практики представленности ХГПУ в социальных медиа:
    </p>
    <ul class="fs-5">
      <li>высокая вовлеченность подписчиков в контент</li>
      <li>видеоконтент</li>
      <li>дайджест событий</li>
      <li>просветительские посты</li>
      <li>поддержка талантов преподавателей и студентов вуза</li>
    </ul>
    <p class="fw-semibold fs-5">
      Медийная активность ХГПУ: каналы, охват и периодичность
    </p>
    <ul class="fs-5">
      <li>ТГ-канал Минпросвещения России - упоминания в дайджесте новостей</li>
      <li>
        ТГ-канал Администрации Херсонской области (25 тыс.подписчиков) - 2 раза
        в неделю
      </li>
      <li>
        ТГ-канал губернатора Херсонской области (46 тыс.подписчиков) -
        еженедельно
      </li>
      <li>Федеральный портал "Российское образование"- 1 раз в месяц</li>
      <li>
        ТРК "Таврия" (аудитория 100 тыс.) - каждые 2 недели интервью ректора
        (эксперт по финансовой грамотности, противодействия кибермошенничеству,
        работы в рамках УПО №37 и Малой академии наук)
      </li>
      <li>Киностудия ХГПУ - социальные ролики - ежедневно</li>
      <li>
        Газеты: "Комсомольская правда", "Надднепрянская правда" и др. (интервью
        с экспертами)
      </li>
    </ul>
    <p class="mb-5 fs-5">
      <strong>Амбассадорами ХГПУ</strong> являются ректор и
      профессорско-преподавательский состав университета, выступающие к качестве
      экспертов в СМИ и ведущие свои блоги, каналы и др. и конечно же
      студенты-наставники и выпускники.
    </p>
    <h3 class="mb-5 pt-4 fw-bold text-uppercase fs-5">
      ОСНОВНЫЕ НАПРАВЛЕНИЯ медийной ДЕЯТЕЛЬНОСТИ и <br />
      каналы распространения информации
    </h3>
    <p class="fw-semibold fs-5">Сайт</p>
    <p class="mb-5 fs-5">
      Официальный сайт нашего университета является важнейшим инструментом
      представления образовательных программ, научной деятельности и
      студенческой жизни. Здесь размещаются актуальные анонсы мероприятий,
      публикации научных работ, информация о проведенных мероприятиях и
      новостные обзоры.
    </p>
    <p class="mb-4">
      <a href="" class="media-link">Интернет-издания, новостные порталы</a>
    </p>
    <p class="mb-5 fs-5">
      Наши преподаватели и студенты регулярно публикуют научные статьи,
      монографии, учебные пособия и аналитические материалы в ведущих российских
      и международных изданиях. Мы также ведем активное освещение новостей и
      достижений университета на собственных информационных ресурсах.
    </p>
    <p class="fw-semibold fs-5">Социальные сети</p>
    <p class="mb-5 fs-5">
      Активное присутствие университета в популярных социальных сетях (телеграм,
      вконтакте, дзен, одноклассники, рутуб) позволяет нам оперативно
      взаимодействовать со всеми участниками образовательного процесса
      (студентами и преподавателями, школьниками и учителями, а также с
      выпускниками и слушателями программ повышения квалификации), партнерами и
      органами власти. Это создает платформу для обсуждения ключевых вопросов
      образования и науки, обмена опытом и идеями.
    </p>
    <p class="mb-4">
      <a href="" class="media-link">Телевизионные репортажи, видеосюжеты</a>
      <span class="fs-5 fw-bold">и</span>
      <a href="" class="media-link">радиоэфиры</a>
    </p>
    <p class="mb-5 fs-5">
      Студенты и преподаватели нашего университета, выступая в качестве
      экспертов, принимают участие в съемках научно-популярных передач,
      короткометражных фильмов (киностудия ХГПУ), освещающих актуальные проблемы
      современной науки и общества. Благодаря этому мы можем представить
      достижения наших экспертов широкой общественности.
    </p>
    <p class="mb-4">
      <a href="" class="media-link">Медиацентр ХГПУ</a>
    </p>
    <p class="mb-5 fs-5">
      Медиацентр университета осуществляет взаимодействие с региональными и
      федеральными средствами массовой информации, организует интервью и
      презентации новых проектов. Наши сотрудники проводят консультации по
      вопросам подготовки материалов для прессы и телевидения.
    </p>
    <p class="fw-semibold fs-5">Исследования медийного пространства</p>
    <p class="mb-5 fs-5">
      Представители медиацентра совместно с сотрудниками кафедры журналистики и
      социальных коммуникаций ведут мониторинг и исследования современного
      состояния российского и международного медийного поля, выявляя тенденции
      развития и возможности эффективного продвижения образовательного
      учреждения в информационной среде.
    </p>
    <p class="mb-5 fw-semibold fs-5">
      Таким образом, Херсонский государственный педагогический университет
      популяризирует не только профессию педагога, ... но и повышает
      узнаваемость и привлекательность своей образовательной и исследовательской
      деятельности в обществе, формирует положительный имидж своего бренда.
    </p>
  </div>
</main>
{% endblock %}
