{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&amp;subset=latin,cyrillic"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link
      type="text/css"
      href="{% static 'bootstrap/css/main.css' %}"
      rel="stylesheet"
    />
    <title>Сведения об образовательной организации</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-top">
          <div class="container-fluid">
            <div class="container py-2">
              <div
                class="d-flex flex-row gap-4 align-items-center justify-content-between"
              >
                <div class="d-flex align-items-center">
                  <ul
                    class="header-top-items justify-content-center gap-5 mb-0"
                  >
                    <li class="header-top-item">
                      <div class="dropdown">
                        <i class="fa-solid fa-briefcase"></i
                        ><a
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          >Школьнику</a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#"
                              >Малая академия наук ХГПУ</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Психолого-педагогические классы</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Профориентация</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Школьные спасательные отряды</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-book-open-reader"></i>
                      <a href="">Абитуриенту</a>
                    </li>
                    <li class="header-top-item">
                      <div class="dropdown">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <a
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          >Студенту</a
                        >
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#"
                              >Учебный процесс</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Социальная поддержка</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Студенческая наука</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Студенческие сообщества</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Карьера</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Подготовка вожатых</a
                            >
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-user-graduate"></i>
                      <a href="">Выпускнику</a>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-book-open"></i>
                      <a href="">Аспиранту</a>
                    </li>
                    <li class="header-top-item">
                      <i class="fa-solid fa-file-pen"></i>
                      <a href="">Сотруднику</a>
                    </li>
                    <li>
                      <a class="dpo d-block px-3 py-1 rounded-3" href="">ДПО</a>
                    </li>
                  </ul>
                </div>
                <div class="d-flex align-items-center">
                  <ul
                    class="header-top-items justify-content-center gap-2 mb-0"
                  >
                    <li class="me-4">
                      <a
                        href=""
                        class="search align-items-center rounded-circle px-1 py-1"
                        ><i class="fa-solid fa-magnifying-glass"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="header-top-icons border border-2 align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-language"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="header-top-icons border border-2 align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-eye-low-vision"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="search align-items-center rounded-circle px-1 py-1"
                        ><i class="fa-solid fa-square-phone"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href=""
                        class="lgn align-items-center rounded px-1 py-1"
                        ><i class="fa-solid fa-arrow-right-to-bracket"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid header-menu">
          <div class="container position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div class="logo d-flex align-items-center">
                <a href="https://edu.gov.ru/"
                  ><img src="{% static 'bootstrap\img\minpros.png' %}" alt=""
                /></a>
                <a href="/"
                  ><img src="{% static 'bootstrap\img\hgpu-logo.png' %}" alt=""
                /></a>
              </div>
              <ul
                class="header-menu-items mb-0 d-flex align-items-center gap-5"
              >
                <li class="header-menu-item" id="#m-link-university">
                  <a href="#">Университет</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Образование</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Наука</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Студенческая жизнь</a>
                </li>
                <li class="header-menu-item">
                  <a href="#">Медиа</a>
                </li>
              </ul>
            </div>
            <!-- CUSTOM DROP MENU START -->
            <div
              class="container-xxl rounded-bottom-3 py-5 gap-5 custom-drop-menu d-none position-absolute top-100 start-0 z-10"
              id="#univer-menu"
            >
              <div class="row rounded mb-5 mx-3 gap-4">
                <div class="col-5 rounded">
                  <div class="row rounded py-3">
                    <div class="col-3 fw-bold fs-5">Университет</div>
                    <div class="col-9">
                      <hr class="border border-warning border-1 opacity-50" />
                    </div>
                  </div>
                  <div class="row rounded">
                    <div class="col-6 rounded">
                      <a href="#"
                        ><p>Сведения об образовательной организации</p></a
                      >
                      <p>Ректор ХГПУ</p>
                      <p>Структура университета</p>
                      <p>Руководство</p>
                      <p>Преподаватели и сотрудники</p>
                      <p>Документы</p>
                      <p>Партнеры</p>
                      <p>Брендбук ХГПУ</p>
                      <p class="mb-0">Контакты</p>
                    </div>
                    <div class="col-6 rounded">
                      <a href="#"><p>Учебно-педагогический округ #37</p></a>
                      <p>Ассоциация выпускников</p>
                      <p>Противодействие идеологии терроризма и экстремизма</p>
                      <p>Борьба с мошенничеством</p>
                      <p>Противодействие коррупции</p>
                      <p>Работа в ХГПУ</p>
                      <p class="mb-0">Сведения о доходах</p>
                    </div>
                  </div>
                </div>
                <div class="col-3 px-4 pt-3 rounded instituts-column">
                  <div class="d-flex flex-column gap-3">
                    <a class="d-inline-block fw-bold fs-5" href="">Институты</a>
                    <a class="d-inline-block" href=""
                      >Институт культуры и искусств</a
                    >
                    <a class="d-inline-block" href="">Институт психологии</a>
                    <a class="d-inline-block" href=""
                      >Институт управления и права</a
                    >
                    <a class="d-inline-block" href=""
                      >Институт естествознания, физической культуры и спорта</a
                    >
                    <a class="d-inline-block" href=""
                      >Институт информационных технологий</a
                    >
                    <a class="d-inline-block" href=""
                      >Институт педагогического и специальногообразования</a
                    >
                    <a class="d-inline-block" href=""
                      >Институт филологии и социальных коммуникаций</a
                    >
                  </div>
                </div>
                <div class="col-3 rounded gap-5">
                  <div class="row rounded hgpu-card mb-3 py-4">
                    <div
                      class="col-6 justify-content-center align-items-center"
                    >
                      <img
                        src="{% static 'bootstrap\img\hgpu.png' %}"
                        alt=""
                        class="opacity-25"
                      />
                    </div>
                    <div class="col">
                      <p class="lh-1 mb-0 custom-drop-menu-card-hgpu">ХГПУ:</p>
                      <p class="lh-1 mb-0 custom-drop-menu-card-hgpu">
                        вчера, сегодня,
                      </p>
                      <p class="lh-1 custom-drop-menu-card-hgpu mb-2">завтра</p>
                      <a href="#">
                        <div class="row">
                          <div class="col"><p>Перейти</p></div>
                          <div class="col">
                            <i
                              class="fa-solid fa-circle-arrow-right fa-xl"
                              style="color: #ffba55"
                            ></i>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="row rounded hgpu-card">
                    <div class="col p-4">
                      <p class="h5 mb-5 fw-bold">
                        Ключевые проекты университета
                      </p>
                      <p class="fw-semibold">Медиапедагогика</p>
                      <p class="fw-semibold">Психолого-педагогические классы</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-around py-2 px-2 gap-2">
                <div class="col hgpu-card rounded p-1 text-center">
                  Разговоры о важном
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  Обучение служением
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  Движение первых
                </div>
                <div class="col hgpu-card rounded p-1 text-center">
                  2025 - Год защитника Отечества
                </div>
              </div>
            </div>
            <!-- CUSTOM DROP MENU  END-->
          </div>
        </div>
      </header>
      <main class="main">
        <div class="px-4 pt-3">
          <div
            class="d-flex align-items-center justify-content-center edu-banner"
          >
            <h1 class="edu-info-title w-75 mb-0">
              Сведения об образовательной организации
            </h1>
          </div>
          <div class="container">
            <div class="py-4">
              <nav
                style="--bs-breadcrumb-divider: '>>'"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Главная</a></li>
                  <li class="breadcrumb-item" aria-current="page">
                    <a href="">Университет</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a href="">Сведения об образовательной организации</a>
                  </li>
                </ol>
              </nav>
            </div>
            <h2 class="mb-4 fw-bold fs-2">
              Сведения об образовательной организации
            </h2>
            <p class="pt-3 regulatory-documents d-inline-block">
              <a
                class=""
                data-bs-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Информация размещена во исполнение и в соответствии с
                нормативными документами
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <ul class="regulatory-documents-list">
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=500648&ysclid=mfcqucp0tk318799088#h6946" target="_blank"
                    >Федеральный закон от 29.12.2012 № 273-ФЗ "Об образовании в
                    Российской Федерации"</a
                  >
                  <span
                    >(Статья 29. Информационная открытость образовательной
                    организации)</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=457031&ysclid=mfcr4pb63f996718370" target="_blank"
                    >Постановление Правительства РФ от 20.10.2021 N 1802
                  </a>
                  <span
                    >"Об утверждении Правил размещения на официальном сайте
                    образовательной организации в
                    информационно-телекоммуникационной сети "Интернет" и
                    обновления информации об образовательной организации, а
                    также о признании утратившими силу некоторых актов и
                    отдельных положений некоторых актов Правительства Российской
                    Федерации'</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=460884&ysclid=mfcr5tu2vh444311010" target="_blank">Приказ Рособрнадзора от 04.08.2023 №1493</a>
                  <span
                    >"Об утверждении Требований к структуре официального сайта
                    образовательной организации в
                    информационно-телекоммуникационной сети "Интернет" и формату
                    представления информации"</span
                  >
                </li>
                <li>
                  <a href="https://normativ.kontur.ru/document?moduleId=1&documentId=482526&ysclid=mfcqc96y1b509783364" target="_blank"
                    >Официальные разъяснения обязательных требований по
                    соблюдению образовательными организациями требований
                    законодательства РФ в сфере образования в части
                    информационной открытости образовательной организации</a
                  >
                  <span>(утв. Рособрнадзором 11.11.2024)</span>
                </li>
                <li>
                  <a href="https://obrnadzor.gov.ru/wp-content/uploads/2024/09/metodicheskie-rekomendaczii-predstavleniya-informaczii-ob-obrazovatelnoj-or....pdf" target="_blank"
                    >Методические рекомендации представления информации об
                    образовательной организации в открытых источниках с учетом
                    соблюдения требований законодательства в сфере образования
                    (размещено на сайте Рособрнадзора 03.09.2024)</a
                  >
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column gap-4 py-4 mb-4">
              <div class="row gap-4">
                <a href="basic-info" class="col-4 edu-info-btn"> Основные сведения </a>
                <a href="" class="col edu-info-btn">
                  Структура и органы управления образовательной организацией
                </a>
              </div>
              <div class="row gap-4">
                <a href="" class="col-3 edu-info-btn"> Документы </a>
                <a href="" class="col-3 edu-info-btn"> Образование </a>
                <a href="" class="col edu-info-btn">
                  Образовательные стандарты и требования
                </a>
              </div>
              <div class="row gap-4">
                <a href="" class="col-5 edu-info-btn"> Руководство </a>
                <a href="" class="col edu-info-btn"> Педагогический состав </a>
              </div>
              <div class="row">
                <a href="" class="col edu-info-btn">Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</a>
              </div>
              <div class="row gap-4">
                <a href="" class="col edu-info-btn">Платные образовательные услуги</a>
                <a href="" class="col edu-info-btn">Стипендии и меры поддержки обучающихся</a>
              </div>
              <div class="row gap-4">
                <a href="" class="col-5 edu-info-btn">Финансово-хозяйственная деятельность</a>
                <a href="" class="col edu-info-btn">Вакантные места для приема (перевода) обучающихся</a>
              </div>
              <div class="row gap-4">
                <a href="" class="col-5 edu-info-btn">Международное сотрудничество</a>
                <a href="" class="col edu-info-btn">Организация питания в образовательной организации</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-top">
          <div class="container">
            <div class="d-flex justify-content-center">
              <ul
                class="d-flex py-5 px-0 social-links align-items-center justify-content-between w-75 mb-0"
              >
                <li>
                  <a href="" class="d-inline-block social-link">
                    <img
                      src="{% static 'bootstrap\img\icons\TG-icon.svg' %}"
                      alt=""
                      class="social-links-icon"
                    />
                  </a>
                </li>
                <li>
                  <a href="" class="d-inline-block social-link">
                    <img
                      src="{% static 'bootstrap\img\icons\VK-icon.webp' %}"
                      alt=""
                      class="social-links-icon"
                    />
                  </a>
                </li>
                <li>
                  <a href="" class="d-inline-block social-link">
                    <img
                      src="{% static 'bootstrap\img\icons\dzen-icon.svg' %}"
                      alt=""
                      class="social-links-icon"
                    />
                  </a>
                </li>
                <li>
                  <a href="" class="d-inline-block social-link">
                    <img
                      src="{% static 'bootstrap\img\icons\OK-icon.webp' %}"
                      alt=""
                      class="social-links-icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-main">
          <div class="container">
            <div class="row mb-4">
              <div class="col">
                <p class="footer-col-title">Абитуриентам</p>
                <ul class="footer-col-list">
                  <li>
                    <a href="" class="footer-item-link">Правила приёма</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Приемная комиссия</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Бакалавриат</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Магистратура</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Дни открытых дверей</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link"
                      >Подготовительные курсы</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-item-link fw-bold"
                      >Личный кабинет абитуриента</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col">
                <p class="footer-col-title">Студентам</p>
                <ul class="footer-col-list">
                  <li>
                    <a href="" class="footer-item-link">Расписание</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Совет обучающихся</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Участие в проектах</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link d-inline-block w-75"
                      >Стипендии и иные меры социальной поддержки</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Оплата обучения</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Доступная среда</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <p class="footer-col-title">Сотрудникам</p>
                <ul class="footer-col-list">
                  <li>
                    <a href="" class="footer-item-link"
                      >Педагогический состав</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Факультеты, кафедры</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Учёный совет</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link">Научные мероприятия</a>
                  </li>
                  <li>
                    <a href="" class="footer-item-link"
                      >Документы университета</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-item-link"
                      >Противодействие коррупции</a
                    >
                  </li>
                  <li>
                    <a href="" class="footer-item-link"
                      >Постановка на воинский учет</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col">
                <p class="footer-col-title">КОНТАКТЫ</p>
                <ul class="d-flex flex-column gap-2 footer-col-list">
                  <li>
                    <a
                      href=""
                      class="footer-item-link d-flex align-items-center gap-2"
                    >
                      <i class="fa-solid fa-at"></i>
                      <p class="mb-0">hgpurf@yandex.ru</p>
                    </a>
                  </li>
                  <li>
                    <a
                      href=""
                      class="footer-item-link d-flex align-items-center gap-2"
                    >
                      <img
                        src="{% static 'bootstrap\img\icons\footer-phone-icon.png' %}"
                        alt=""
                      />
                      <p class="mb-0">+7 (990) 140-21-00</p>
                    </a>
                  </li>
                  <li>
                    <a
                      href=""
                      class="footer-item-link d-flex align-items-baseline gap-2"
                    >
                      <i class="fa-solid fa-paper-plane"></i>
                      <p class="mb-0 pe-5">
                        ХГПУ официально | Официальный ТГ-канал ХГПУ
                      </p>
                    </a>
                  </li>
                  <li>
                    <a
                      href=""
                      class="footer-item-link d-flex align-items-baseline gap-2"
                    >
                      <i class="fa-solid fa-paper-plane"></i>
                      <p class="mb-0">ТГ-канал ректора ХГПУ</p>
                    </a>
                  </li>
                  <li>
                    <a
                      href=""
                      class="footer-item-link d-flex align-items-baseline gap-2"
                    >
                      <i class="fa-brands fa-vk"></i>
                      <p class="mb-0">Официальная группа ХГПУ Вконтакте</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="d-flex align-items-center justify-content-center gap-2 mb-4"
            >
              <div class="w-100 footer-logo-line"></div>
              <div>
                <a href=""
                  ><img
                    src="{% static 'bootstrap\img\footer-hgpu-logo.webp' %}"
                    alt=""
                    class="d-block rounded w-100"
                /></a>
              </div>
              <div class="w-100 footer-logo-line"></div>
            </div>
            <p class="text-center text-light mb-0">
              ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ
              ВЫСШЕГО ОБРАЗОВАНИЯ
            </p>
            <p class="text-center text-light mb-4">
              "ХЕРСОНСКИЙ ГОСУДАРСТВЕННЫЙ ПЕДАГОГИЧЕСКИЙ УНИВЕРСИТЕТ"
            </p>
            <div class="d-flex justify-content-between mb-4">
              <a href="" class="footer-gov-link">
                Министерство просвещения РФ
              </a>
              <a href="" class="footer-gov-link">
                Министерство просвещения РФ
              </a>
              <a href="" class="footer-gov-link"> Рособрнадзор </a>
              <a href="" class="footer-gov-link">
                Официальный интернет-портал правовой информации
              </a>
            </div>
            <p class="py-3 mb-0 fs-6 text-light opacity-50">
              <i class="fa-solid fa-copyright" style="color: #ffffff"></i>
              Херсонский государственный педагогический университет, 2025
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'bootstrap/js/main.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</html>
